{% extends 'activity/action.html' %}

{% load music_tags cache i18n %}

{% block what %}
    {% if activity.open %}
        <a href="{% url user_details activity.actor.username %}" title="{% trans "see details of user" %} {{ activity.actor }}" class="bold">
            {{ activity.actor }}
        </a>
        added to playlist
        <a href="{{ activity.target.get_absolute_url }}" title="{% trans "details of" %} {{ activity.target }}" class="bold">
            {{ activity.target }}
        </a>
        {% if activity.close %}
        this track
        {% else %}
        this tracks
        {% endif %}
    {% endif %}
    {% if activity.close %}
        {% cache 99999 activity activity.pk %}
        {% render_tracks activity.action_object_group '' request %}
        {% endcache %}
    {% endif %}
{% endblock %}
