{% extends 'activity/action.html' %}

{% load music_tags i18n cache %}

{% block what %}
    {% if activity.open %}
        <a href="{% url user_details activity.actor.username %}" title="{% trans "see details of user" %} {{ activity.actor }}" class="bold">
            {{ activity.actor }}
        </a>
        {% if activity.close %}
        is fan of this artist
        {% else %}
        is fan of this artists
        {% endif %}
    {% endif %}
    {% if activity.close %}
        {% render_artists activity.action_object_group %}
        <div class="clear"></div>
    {% endif %}
{% endblock %}
