{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}
{% load account_tags %}
{% load facebook_tags %}
{% load twitter_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><span class="warning">{% trans "Note" %}</span>: 
        {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
      
        {% endifsetting %}
    {% endif %}
    
<div class="left" id="popup_sidebar">
	<div class="container_inner">
 		<ul class="sidebar_list">
			<li class="menu_top">One-clik Login</li>
  			<li class="sidebar_pln sidebar_info"><a class="tab_group_login tab_link tab_id_facebook"><span class="facebook">Facebook</span></a></li>
  			<li class="sidebar_facebook sidebar_info"><a class="tab_group_login tab_link tab_id_twitter"><span class="twitter">Twitter</span></a></li>
  			<li class="sidebar_facebook sidebar_info"><a class="tab_group_login tab_link tab_id_google"><span class="google">Google</span></a></li>
		</ul>
	</div>
</div>
    
<div class="tab_group_login tab_content tab_id_google inside">
    <h1>Connect with Google</h1>
            <div class="tabscontentL">
            	Connect your Google account to Playlistnow to sign up or sign in by clicking the button Sign in with Google Friend Connect.
            </div>
            	<a href="{% url gfc_redirect %}" class="super button grey large ui_ignore"><span class="google bold">Connect with google</span></a>
					<div class="clear"></div>
        				<div id="login-fcbutton"></div>
</div>

<div class="tab_group_login tab_content tab_id_facebook inside">
	<h1>Connect with Facebook</h1>
		<div class="tabscontentL">
		Connect your Facebook account to Playlistnow to sign up or sign in by clicking the button Connect with Facebook.
		</div>

   <!-- FBJS start -->
    {% facebook_js %}
   <!-- FBJS end -->
   {% facebook_button %}
   <!-- FB button end -->
   	<div class="clear"></div>
</div>

<div class="tab_group_login tab_content tab_id_twitter inside">
	<h1>Connect with Twitter</h1>
       <div class="tabscontentL">
       Connect your Twitter account to Playlistnow to sign up or sign in by clicking the button Sign in with Twitter.
       </div>
	 <a href="{% url twitter_redirect %}" class="super button grey large ui_ignore"><span class="twitter bold">Connect with twitter</span></a>
		<div class="clear"></div>
</div>
  <!-- Popup End -->
<div class="dividerin clear"></div>
<div class="ad">
	<span class="simplemodal-close button black right">No, thanks</span>  
    	<div class="clear"></div>
</div>  
{% endblock %}
<!-- Popup  end -->
