{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load facebook_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
    <h1>{% trans "New to Playlistnow ?" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <h3>{% trans "Easy, free and social. Discover a new way to listen to and share music." %}!</h3>
        
<ul class="signin">
    <li style="width:30%;float:left;" class="selected">
        <div class="connect">Connect your account</div>
        <div class="connect_text">Use one of your network to create your account in one-clik.</div>
    </li>
    <li style="width:30%;float:left;">
        <div class="fill_form">Complete your registration</div>
        <div class="connect_text">Verify and fill the form to complete your registration and create your account.</div>
    </li>
    <li style="width:30%;float:left;">
        <div class="find_friends">Find friends</div>
        <div class="connect_text">Playlistnow is more fun when you follow your friends.</div>
    </li>
</ul>

<div style="margin:26px 0;padding:10px;">
    <ul>
        <li style="width:30%;float:left;padding:2px 10px 0 10px;">
            {% facebook_js %}
            {% facebook_button %}
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect your Facebook</span>
                 to sign in by clicking the button Connect with Facebook.
            </p>
        </li>
        <li style="width:30%;float:left;padding:2px 10px 0 17px;">
            <a href="{% url twitter_redirect %}" class="super button twblue large ui_ignore">
                <span class="twitter bold">Connect with twitter</span>
            </a>
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect to Twitter</span> 
                to sign in by clicking the button Connect with Twitter.
            </p>
        </li>
        <li style="width:30%;float:left;padding:2px 10px 0 17px;">
            <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js?key=notsupplied&v=0.8"></script>
            <script type="text/javascript">
            $(document).ready(function () {
                google.friendconnect.container.setParentUrl('/');
                google.friendconnect.container.initOpenSocialApi({
                    site: '09173394585243409353',
                    onload: function(st) {
                        if (!window.friendconnect_times_loaded) {
                            window.friendconnect_times_loaded = 1;
                        } else {
                            window.friendconnect_times_loaded++;
                        }
                        if (window.friendconnect_times_loaded>1) {
                            window.top.location.href = "{% url gfc_callback %}?st="+st;
                        }
                    }
                });
                google.friendconnect.renderSignInButton({
                    "id" : "connect_with_google",
                    "text" : "Connect with google",
                    "style" : "text"
                });
            });
            </script>

            <div id="connect_with_google" onclick="return google.friendconnect.requestSignIn();return false;" class="button super grey">
            </div>
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect to Google</span>
                to sign in by clicking the button Connect with Google.
            </p>
        </li>
    </ul>
</div>
       
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#signup_form').validate('{% url signup_form_validate %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
            $("#id_username").focus();
        });
    </script>
{% endblock %}
