{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load facebook_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
    <h1>{% trans "New to Playlistnow ?" %}</h1>
    
    {% if request.user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <h3>{% trans "Easy, free and social. Discover a new way to listen to and share music." %}!</h3>
    
    {% with 'signup' as step %}
    {% include 'socialregistration/_steps.html' %}
    {% endwith %}

<div style="margin:26px 0;padding:10px;">
    <ul>
        <li style="width:30%;float:left;padding:2px 10px 0 10px;">
            {% facebook_js %}
            {% facebook_button %}
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect your Facebook</span>
                 to sign in by clicking the button Connect with Facebook.
            </p>
        </li>
        <li style="width:30%;float:left;padding:2px 10px 0 17px;">
            <a href="{% url twitter_redirect %}" class="super button twblue large ui_ignore">
                <span class="twitter bold">Connect with twitter</span>
            </a>
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect to Twitter</span> 
                to sign in by clicking the button Connect with Twitter.
            </p>
        </li>

        <li style="width:30%;float:left;padding:2px 10px 0 17px;">
            <a href="{% url gfc_redirect %}" class="super button grey large ui_ignore">
                <span class="google bold">Connect with google</span>
            </a>
            <p style="color: #999999;font-size:12px;margin-top:10px;">
                <span class="bold">Connect to Google</span> 
                to sign in by clicking the button Connect with Google.
            </p>
        </li>
    </ul>
</div>
       
    {% endif %}
{% endblock %}

