{% load i18n cache tagging_ext_tags %}
{% for object in object_list %}
<div class="playlist line play radius-4">
    <div class="icon" class="play" style="margin:4px 10px 0 10px;">
        <img src="{{ object.creation_user.playlistprofile.avatar_url }}" alt="{% trans "play" %} {{ object }}"  class="play avatar" />
    </div>

    <div class="description play"> 
        <div style="padding-bottom:1px;">
            <span class="dTitle play">
                <a href="{{ object.get_absolute_url }}" title="{% trans "play" %} {{ object }}" class="playlist link">{{ object }}</a>
            </span>
            <span class="dValue small_font play">({{ object.tracks.count }})</span>
       </div>

        {% if object.category %}
        <div class="clear"></div>
        <div style="display:block;">
  
            <span class="tValue small_font play">Created by 
                <a class="bold" href="{% url user_details object.creation_user.username %}" title="{% trans "details of user" %} {{ object.creation_user }}">
                    {{ object.creation_user.first_name }} {{ object.creation_user.last_name }}
                </a>
            </span>
            -
            <span class="tTitle small_font play">
                Categories: 
            </span>
            <span class="tValue small_font play">
            {% if object.category.parent %}
                <a href="{{ object.category.parent.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category.parent }}">{{ object.category.parent }}</a>
                → 
            {% endif %}
                <a href="{{ object.category.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category }}">{{ object.category }}</a>
            {% if not forloop.last %}
            ,
            {% endif %}
            </span>
        </div>
        {% endif %}        
      
        {% if object.tags %}
      
        <div style="display: block"></div>
          <span class="dValue small_font play violet">{% show_tags_for object %}</span>
        {% endif %}
    </div>
    
       <div class="play right" style="padding:1px 0px;">
        <span href="{{ object.get_absolute_url }}" title="{% trans "play playlist" %} {{ object }}" class="play">
            <img src="{{ STATIC_URL }}images/play_line.png" alt="{% trans "play playlist" %} {{ object }}" height="64" width="60" class="play">
        </span>
    </div>
</div>
{% endfor %}
