{% load i18n cache extra_tagging_tags %}
{% for object in object_list %}
<div class="playlist line play">
    {% cache 3600 render_playlist object.pk %}
    <div class="icon" class="play">
        <img src="{{ STATIC_URL }}images/playlists/pl.png" alt="{% trans "play" %} {{ object }}" class="play" />
    </div>

    <div class="description play"> 
        <span class="dTitle play">
            <a href="{{ object.get_absolute_url }}" title="{% trans "play" %} {{ object }}" class="playlist link">{{ object }}</a>
        </span>
        <span class="dValue small_font play">({{ object.tracks.count }})</span>

    {% if object.tags %}
        <div style="display: block"></div>
        <span class="cTitle small_font play">Tags: </span>
        <span class="cValue small_font play">
        {% show_tags_for object %}
        </span>
    {% endif %}

        {% if object.category %}
        <br />
        <span class="tTitle small_font play">Categories: </span>
        <span class="tValue small_font play">
            {% if object.category.parent %}
            <a href="{{ object.category.parent.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category.parent }}">{{ object.category.parent }}</a>
            → 
            {% endif %}
            <a href="{{ object.category.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category }}">{{ object.category }}</a>
            {% if not forloop.last %}
            ,
            {% endif %}
            - Created by 
            <a href="{% url user_details object.creation_user.username %}" title="{% trans "details of user" %} {{ object.creation_user }}">
            {{ object.creation_user }}
            </a>
        </span>
        {% endif %}
    </div>
    
    <div class="play">
        <img src="{{ STATIC_URL }}images/spacer.png" alt="{% trans "play playlist" %} {{ object }}" height="60" width="60" class="play">
    </div>
    {% endcache %}
</div>
{% endfor %}
