{% extends "playlist/base.html" %}

{% load i18n %}
{% load music_tags %}
{% load tagging_ext_tags %}

{% block head_title %}{% trans "Playlist" %}: {{ object }}{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{{ object.tags }}, {{ object.category }}, {{ object.category.parent }}" />
<meta name="description" content="{{ object.creation_user.first_name }} {{ object.creation_user.last_name }} created playlist '{{ object }}' for free and legally, listen to it or create yours now and enjoy our complete catalog" />
{% endblock %}

{% block body %}
<div class="left">
    <h1><span class="playplaylist_random tiptip" title="Lauch this playlist randomly"></span>{{ object }}</h1>
   
</div>
<div class="right">
   
{% if request.user != object.creation_user and not object.favorite_of.count %}
        <form action="{% url playlist_fanship object.pk %}" class="authenticationRequired" method="post">
            <input type="hidden" name="action" value="{% if is_fan %}remove{% else %}add{% endif %}" />
            <input type="hidden" name="next" value="{{ request.path }}" />
            {% if is_fan %}<button type="submit" class="button super grey tiptip" title="Unbookmark this playlist"><span class="bookmarked">{% trans "Playlist Bookmarked" %}</span></button>
            {% else %}<button type="submit" class="button super grey tiptip" title="Add this playlist in your playlists bookmarked"><span class="bookmark">{% trans "Bookmark this playlist" %}</span></button>{% endif %}
        </form>
{% endif %}  

</div>

<div class="clear"></div>
  <div class="bold" style="margin:0px 0 10px 0;">
    {% trans 'Published by' %}
    <a href="{% url user_details object.creation_user.username %}" title="{{ object.creation_user.first_name }}: {% trans "activities on playlistnow.fm" %}" class="bold">{{ object.creation_user.first_name }}</a>

<div class="clear"></div>
</div>
{% if object.creation_user.username == 'radio' %}
<p style="color:black">
This is a <span class="bold">magic</span> playlist. The more you use it, the more tracks are automatically added. This page is automatically updated when tracks are added.
</p>
{% endif %}
{% if object.creation_user.username != 'radio' and not object.favorite_of.count %}
<div class="ad_song">
    <span style="display:none;">{% trans "add tracks" %}</span>


    <form method="get" action="{{ request.path }}">
        <input type="text" name="term" value="Search by artist name and / or song name" onfocus="if(this.value=='Search by artist name and / or song name'){this.value='';}" id="term"  class="autocomplete music search ad_song_field just_submit"/>
        <input type="hidden" name="search_artists" value="0" />
        <input type="hidden" name="search_albums" value="0" />
        <input type="submit" class="searched radius-15 violet  button" value="{% trans "Search" %}"/>
    </form>

    <div class="clear"></div>

</div>
{% endif %}

{% if tracks %}
<div class="direct_add to_playlist_{{ object.pk }}">
    <div class="delete parent icon" style="float:right"></div>

    <h2>{% trans "results matching" %} {{ request.GET.q }}</h2>

    <div class="clear"></div>

    {% render_tracks tracks object request %}
    <div class="virtual pagination">
    {% for page in allPages %}
        <a class="page {% if page == currentPage %}selected ui_prevent ui_ignore{% endif %}" href="{{ request.path_info }}?term={{ request.GET.term }}&search_artists=0&search_albums=0&page={{ page }}">{{ page }}</a>
    {% endfor %}
    </div>
    <div class="clear"></div>
</div>
{% endif %}

<hr style="height:2px; background:#ddd;">

<div class="playlist_track_list playlist_pk_{{ object.pk }}">
    <span id="playlist_pk" style="display:none">{{ object.pk }}</span>
    {% render_tracks user_tracks '' request %}
</div>

{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
{% block body_right %}
<h3>{% trans "about" %} <span class="right"> {% if object.creation_user == request.user and object.name != 'hidden:tiny' %}
    <a href="{% url playlist_edit object.pk %}">Edit</a>
    {% endif %}</span></h3>
	<ul class="data_playlist">
		<li class="dot">Played: <span class="bold">{{ object.play_counter }}</span> {% trans "times" %}</li>
		<li class="dot">{% trans "Tracks" %}: <span class="bold">{{ user_tracks|length }}</span></li>
    {% if request.user != object.creation_user and not object.favorite_of.count %}
		<li class="dot">Category:
        {% if object.category.parent %}
        <a href="{{ object.category.parent.get_absolute_url }}" 
        title="{% trans "playlists for object.category" %} {{ object.category.parent }}">{{ object.category.parent }}</a>
        → 
        {% endif %}
        <a href="{{ object.category.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category }}">{{ object.category }}</a></li>
		<li class="dot">Tags: {% show_tags_for object %}</li>
	{% endif %}
    </ul>

<div class="clear espacetop"></div>

<h3>{% trans "share" %}</h3>
<div class="share_playlist">
<!--<iframe allowtransparency="true" frameborder="0" scrolling="no"-->
        <!--src="http://platform.twitter.com/widgets/tweet_button.html"-->
        <!--style="width:98px; height:20px;"></iframe>-->
<a href="http://twitter.com/share?url=http:{{ '//playlistnow.fm'|urlencode }}{{ object.get_absolute_url|urlencode }}" class="ui_ignore twitter-share-button" data-url="http:{{ '//playlistnow.fm'|urlencode }}{{ object.get_absolute_url|urlencode }}" data-count="horizontal">Tweet</a>
 	<iframe src="http://www.facebook.com/plugins/like.php?href={{ 'http://playlistnow.fm'|urlencode }}{{ object.get_absolute_url|urlencode }}&amp;layout=button_count&amp;show_faces=true&amp;width=94&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:94px; height:20px;" allowTransparency="true"></iframe>
	
</div>
<div class="clear espacetop"></div>
<h3 class="fan">{{ object.fans.count }} Fans</h3>

<div class="friends" style="line-height: 22px;">
    {% for fan in playlist_fans_slice %}
    <a href="{{ fan.get_absolute_url }}" class="tiptip" title="{{ fan }}">
        <img src="{{ fan.avatar_url }}" class="avatar verysmall sc" height="25" width="25" />
    </a>
    {% endfor %}
</div>
<div class="clear espacetop"></div>
<h3>Keyboard Shortcuts</h3>
<img src="{{ STATIC_URL }}images/controllers.png">

{% endblock %}
