{% extends "playlist/base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Create a new playlist" %}{% endblock %}
{% block body %}

{% if form.instance.pk %}
<h1>Edit your playlist details</h1>
{% else %}
<h1>Create a new Playlist</h1>
<h2>You have to fill in all the fields to create your playlist</h2>
{% endif %}
<form action="{% if form.instance.pk %}{% url playlist_edit form.instance.pk %}{% else %}{% url playlist_add %}{% endif %}" method="post" id="create">


{{ form.non_field_errors }}

    {% csrf_token %}

    {{ form.name.errors }}
    {{ form.name.label_tag }}
<div class="create">
     <div> I am
	    {{ form.name.as_widget }}
    </div>
</div>
    <br />
   <br />
    {{ form.tags.errors }}
    {{ form.tags.label_tag }} 
<div class="create">
  <div>
    	{{ form.tags.as_widget }}
	</div>
</div>
    <br />
    <br />

    {{ form.category.errors }}
    {{ form.category.label_tag }}
<div class="create">
	<div>
    <select name="category">
    {% for category in form.playlist_categories %}
        <optgroup label="{{ category }}">
        {% for subcategory in category.children.all %}
            <option value="{{ subcategory.pk }}" {% if form.instance.category.pk == subcategory.pk %}selected="selected"{% endif %}>
                {{ subcategory }}
            </option>
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
	</div>    
</div>
<br/><br/>
    {% if form.instance.pk %}
    <input type="submit" class="violet  button" value="{% trans "Save changes" %}" />
    {% else %}
    <input type="submit" class="violet  button" value="{% trans "Create a playlist" %}" />
    {% endif %}
</form>


{% endblock %}


