{% extends "playlist/base.html" %}

{% load pagination_tags %}
{% load i18n %}
{% load playlist_tags %}

{% block extra_head %}
<meta name="keywords" content="playlist,now,playlist list" />
<meta name="description" content="{% trans "You can play and modify any of these playlists created by PlaylistNow staff and users" %}" />
{% endblock %}

{% block head_title %}{% trans "all playlists you can play" %} {{ object.name }}{% endblock %}

{% block body %}

<div class="list">
    <span class="capitalize" style="font-size: 16px; color: rgb(73, 28, 83);">
        {% trans "playlists found for your search" %}
        <b>({{ object_list|length }})</b>
    </span>

    {% autopaginate object_list %}
    {% paginate %}

    {% render_playlists object_list %}
</div>
{% endblock %}

{% block body_right %}
<h2>Tags</h2>
<h2>Categories</h2>
<div class="ad">
Create a new playlist bla bla bla bla and bla bla</div>
{% endblock %}
