{% extends "playlist/base.html" %}

{% load i18n %}
{% load music_tags %}
{% load extra_tagging_tags %}

{% block head_title %}{% trans "Playlist" %}: {{ object }}{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{{ object.tags }}, {{ object.category }}, {{ object.category.parent }}" />
<meta name="description" content="{% trans "You can listen to this playlist online, for free, and legally! check it out and create yours ..." %}" />
{% endblock %}

{% block body %}
<h1>{% trans "Playlist" %} {{ object }}</h1>

<h2>{% trans "add tracks" %}</h2>
<form method="get" action="{{ request.path }}" class="ad">
    <input type="text" name="term" id="term" />
    <input type="hidden" name="search_artists" value="0" />
    <input type="hidden" name="search_albums" value="0" />
    <input type="submit" value="{% trans "Search" %}" />
</form>

{% if tracks %}
<h2>{% trans "results matching" %} {{ request.GET.q }}</h2>
{% render_tracks tracks %}
{% endif %}

<span id="playlist_pk" style="display:none">{{ object.pk }}</span>
{% render_tracks user_tracks %}

{% endblock %}

{% block body_right %}
<h3 class="playcat">{% trans "about" %}</h3>
<div class="details views sidebox">
    <b>{{ object.play_counter }}</b> {% trans "times" %}
</div>
<div class="details count sidebox">
    <b>{{ object.tracks.count }}</b> {% trans "tracks" %}
</div>
<div class="clear"></div>
<div class="ad">
    <div class="lined">
        <b>{% trans 'Published by' %}</b>
        <br />
        <a href="{% url user_details object.creation_user.username %}" style="color: rgb(28, 155, 200);" title="{{ object.creation_user.first_name }}: {% trans "activities on playlistnow.fm" %}">{{ object.creation_user.first_name }}</a>
    </div>

    <div class="lined">
     <div id="playlist-tags">
        {% trans 'Tags' %}:
        <br />
        {% show_tags_for object %}
          </div>
    </div>
    <div class="lined">
        <b>{% trans 'Category' %}:</b> 
        <br />
        {% if object.category.parent %}
        <a href="{{ object.category.parent.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category.parent }}">{{ object.category.parent }}</a>
        → 
        {% endif %}
        <a href="{{ object.category.get_absolute_url }}" title="{% trans "playlists for object.category" %} {{ object.category }}">{{ object.category }}</a>
    </div>
</div>
<div class="clear"></div>
<div class="sep"></div>

{% endblock %}
