{% extends "playlist/base.html" %}

{% load pagination_tags %}
{% load i18n %}
{% load playlist_tags %}
{% load tagging_tags %}

{% block extra_head %}
<meta name="keywords" content="playlist,now,playlist list" />
<meta name="description" content="{% trans "You can play and modify any of these playlists created by PlaylistNow staff and users" %}" />
{% endblock %}

{% block head_title %}{% trans "all playlists you can play" %} {{ object.name }}{% endblock %}

{% block body %}

<div class="list">
    <span class="capitalize" style="font-size: 16px; color: rgb(73, 28, 83);">
        {% trans "playlists found for your search" %}
        <b>({{ object_list|length }})</b>
    </span>

    {# pagination won't work in playlist_search because object_list is a plain list instead of a queryset #}
    {% autopaginate object_list %}
    {% paginate %}
    {% render_playlists object_list %}
    {% paginate %}
</div>
{% endblock %}

{% block body_right %}
<h3>Tags</h3>
<ul id="playlist-tags">
{% for tag in best_tags %}
<li><a title="{{ tag }}" href="{% url tag_details tag %}">{{ tag }}</a></li>
{% endfor %}
</ul>
<div class="clear espacetop"></div>
<h3>Categories</h3>
<div class="dividerin"></div>
<div class="ad">
<p>Create a new playlist for your own situation</p>
<a href="{% url playlist_add %}" class="button super blue popup" title="{% trans "create your playlist now for free" %}">
<span>{% trans "create your playlist" %}</span>
</a>
</div>
{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
