{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ track }} by {{ track.artist }}{% endblock %}
{% block body %}

{% if status = 'success' %}
<p class="success message">
    Thanks for adding track 
    <a href="{{ track.get_absolute_url }}" title="{{ track }}">
        '{{ track }}'
    </a>

    by 
    <a href="{{ track.artist.get_absolute_url }}" title="{{ track.artist }}">
        '{{ track.artist }}'
    </a>

    to playlist 
    <a href="{{ playlist.get_absolute_url }}" title="{{ playlist }}">
        '{{ playlist }}'
    </a>
</p>
{% else %}
<div style="padding:15px">
<h1>{% trans "Confirmation Request" %}</h1>
{% if playlist.pk and track.name %}
<p>
    {% trans "Do you want to" %} {% trans action %} {{ track.name }} {% if track.artist.name %} {% trans "by" %} {{ track.artist.name }}{% endif %} {% trans "to" %} {{ playlist }} ?
</p>
{% endif %}
<form action="{{ request.path }}" method="post" class="closePopup">
	
    {% if playlist.pk %}
    <input type="hidden" name="playlist_pk" value="{{ playlist.pk }}" />
    {% else %}
        {% if playlist.name %}
        <input type="hidden" name="playlist_name" value="{{ playlist }}" />
        {% else %}
        <label for="playlist_pk">
            {% trans "select one of your playlist" %}
        </label>
        <div class="create">
			<div>
		<select name="playlist_pk">
            {% for playlist in user_playlists %}
            <option value="{{ playlist.pk }}">{{ playlist }}</option>
            {% endfor %}
            {% for playlist in request.user.playlistprofile.fanof_playlists.all %}
            <option value="{{ playlist.pk }}">{{ playlist }}</option>
            {% endfor %}
        </select>
</div>
        	</div>
        <div class="clear espacetop"></div>	
        {% endif %}
    {% endif %}
    {% if track.pk %}
    <input type="hidden" name="artist_pk" value="{{ track.artist.pk }}" />
    {% else %}
    <input type="hidden" name="artist_name" value="{{ track.artist.name }}" />
    {% endif %}
    {% if track.pk %}
    <input type="hidden" name="track_pk" value="{{ track.pk }}" />
    {% else %}
    <input type="hidden" name="track_name" value="{{ track.name }}" />
    {% endif %}
    <div class="left espace">
    	<input type="hidden" name="action" value="{{ action }}" />
    	<input type="submit" value="{% trans action %}" class="button violet" />
    </div>
    {% csrf_token %}
	or <a href="{% url playlist_add %}" title="Create a new playlist">Create a new playlist</a>
	<div class="clear"></div>
</div>
</form>
{% endif %}
{% endblock %}

