{% extends 'activity/action.html' %}
{% load i18n music_tags cache %}
{% block what %}
    {# cache 999999 activity activity.pk #}
    recommend template cached what block
    <a href="{% url user_details activity.actor.username %}" title="{% trans "see details of user" %} {{ activity.actor }}" class="bold">
        {{ activity.actor.first_name }} {{ activity.actor.last_name }}
    </a>
    recommends this track to
    <a href="{{ activity.action_object.target.get_absolute_url }}" title="{% trans "details of" %} {{ activity.action_object.target.first_name }} {{ activity.action_object.target.last_name }}" class="bold">
        {{ activity.action_object.target.first_name }} {{ activity.action_object.target.last_name }}
    </a>
    {% with activity.action_object.track as track %}
    {% render_track track '' request %}
    {% endwith %}
    {# endcache #}
{% endblock %}

{% block extra_actions %}
    {% if not activity.action_object.thanks %}
        {% if request.user == activity.action_object.target %}
        <span>
        - <a class="delete parent" href="{% url music_recommendation_thank activity.action_object.pk %}">Thank</a>
        </span>
        {% endif %}
    {% endif %}
{% endblock %}
