/* Body */
* {outline: none; border: none;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: none}
body {font:normal normal 13px/18px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; margin: 0 auto; background: #fff; color: #000;}


/* link & Title */
a{outline:none;text-decoration:none;color:#461b50;border:none;}a:hover{color:#461b50;text-decoration:underline;}

h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
h1{line-height: 22px;letter-spacing: -0.5px;color: #148dc4;margin:0px 0 10px 0;font-size: 22px;}
h2{font-size: 16px; line-height: 22px;letter-spacing: -0.5px;color: #666;margin:10px 0 10px 0;font-weight: 300;}
h2 a{color:#461b50}
.centered{text-align:center;}em{font-style:italic;}.left{float:left;}.right {float: right !important;}.clear{clear:both;}

/* Boutons */
.button{background:#222 url(../images/overlay-button.png) repeat-x 0 0;display:inline-block;padding:5px 15px 6px;font-size:12px;font-weight:500;line-height:1;text-decoration:none;-moz-border-radius:5px;border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer;overflow:visible;width:auto;margin-top:3px;}
.button::-moz-focus-inner{border:0;padding:0}
.button:hover{background-color:#111;text-decoration:none;}
.button:active{-webkit-transform:translateY(1px);-moz-transform:translateY(1px)}
.small.button{font-size:11px}
.big.button{font-size:13px}

.blue.button{background-color:#1283B7;color:#fff;}
.blue.button:hover{background-color:#19A1DF;color:#fff;}

.violet.button{background-color:#B32F82;color:#fff;}
.violet.button:hover{background-color:#D44CA1}

.red.button{background-color:#C41B62;color:#fff;}
.red.button:hover{background-color:#DC3686;color:#fff;}

.green.button{background-color:#17AF4B}
.green.button:hover{background-color:#1BCE59}

.grey.button{background-color:#f2f2f2;text-shadow: #f0f0f0;color: #333333;}
.grey.button:hover{background-color:#D5D5D5}

.super.button{background-image:url(../images/super-button-overlay.png);font-size:12px;padding:0;border:1px solid rgba(0,0,0,.25);-webkit-border-radius:15px;-moz-border-radius:15px;line-height:1;}
.super.button .big{display:block;padding:5px 15px 6px 20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-top:1px solid rgba(255,255,255,.2);line-height:1;}
.super.button .bigger{display:block;padding:5px 20px 6px 20px;-webkit-border-radius:4px;-moz-border-radius:4px;line-height:1;}

.large.button{font-size: 14px;padding:8px 14px;}

.more{background: url(../images/arrow_right.png) no-repeat center left;overflow-x: hidden;overflow-y: hidden;margin-left:3px;}


/* Form */
input {border:1px solid #ccc;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:8px;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;box-shadow:0 1px #fff;color:#222;font:14px/18px "Helvetica Neue",Arial,sans-serif;outline:none;white-space:pre-wrap;word-wrap:break-word;}

/* Header */
#topheader {width: 100%; margin: 0 auto; height: 43px; background: url(../images/header_bg.png) top left repeat-x; z-index: 900;}
#topheader h1 {margin: 0; display:inline;}
#playlistnow {display: block; position:absolute; width: 139px; height: 41px; background: url(../images/logo.png) top left no-repeat; left: 10px;}
#playlistnow span {display: none;}


/* Header Menu Left */

#menu {height: 32px; position: absolute; top: 4px; left: 145px; z-index: 1000;}
#menu li {float: left; display:inline;}
#menu li a {display: block; width: 32px; height: 32px;}

#topheader_search a{background:url(../images/magnify.png) top left; margin: 0 10px 0 7px;}
#topheader_search a:hover {background:url(../images/magnifyhover.png) top left;}
#topheader_search a:active {background:url(../images/magnifyhover.png) top left;}


#topheader_profile a {background:url(../images/user.png) top left; margin: 0 10px 0 10px;}
#topheader_profile a:hover {background:url(../images/userhover.png) top left;}
#topheader_profile a:active {background:url(../images/userhover.png) top left;}


#topheader_feed a {background:url(../images/profile.png) top left; margin: 0 10px 0 10px;}
#topheader_feed a:hover {background:url(../images/profilehover.png) top left;}
#topheader_feed a:active {background:url(../images/profilehover.png) top left;}


/* Header Menu Right */

#menu_right {height: 24px; position: absolute; top: 3px; right: 10px; margin-left: 200px;}
#menu_right li {float: right; margin: 1px 0 0 4px; position:relative;}


/* Sidebar */
#sidebar { background:#DFD4D9 url(../images/side_bg.png) repeat-y top left; }

#sidebar .container_inner_wrapper{position:absolute; bottom: 24px; top:0; height: auto; overflow: scrolly;}
#sidebar .container_inner {width: 150px; margin: 10px 10px;}
#sidebar .sidebar_list{margin: 0; padding:0;}

/* Sidebar List */
.sidebar_info {line-height: 16px; list-style:none;}
.sidebar_info a {display: block; margin: 0 0 1px 0; line-height: 16px; padding: 4px 6px; overflow:hidden; position:relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: none;}
.sidebar_info a .label {display:block; line-height: 16px; color: #666; margin-left: 20px; padding-top: -1px;}
.sidebar_info a .icon {position:absolute; top:4px; left: 4px;}
.sidebar_info a .label, .dragProxy.playlist a .label {display:block; line-height: 16px; color: #666; margin-left: 24px; padding-top: -1px; height: 16px; overflow: hidden;}
.sidebar_info.last {margin: 0;}

.sidebar_info a:hover {background-color: rgba(70,27,80,0.2);text-decoration:none;}
.sidebar_info a:hover .label {color: #000;}
.sidebar_info a:active {background-color: #492D3D;}
.sidebar_info a:active .label {color: #fff;}
.sidebar_info.selected a {background-color: #492D3D;}


.sidebar_info.selected a:hover {background-color: #d2e5f9;}
.sidebar_info.selected a:hover .label {color: #276086; float: left;}
.sidebar_info.selected a:active {background-color: #492D3D;}
.sidebar_info.selected a:active .label {color: #fff; float: left;}


.sidebar_playlist a .label {}
.sidebar_playlist a .icon {background:url(../images/music.png) no-repeat top left;width:16px;height:16px;}
.sidebar_playlist a:hover .icon {background-position: top left;}
.sidebar_playlist a:active .icon {background-position: top left;}


.sidebar_Playing a .label {}
.sidebar_Playing a .icon {background:url(../images/allpl.png) no-repeat top left;width:16px;height:16px;}
.sidebar_Playing a:hover .icon {background-position: top left;}
.sidebar_Playing a:active .icon {background-position: top left;}


.sidebar_popular a .icon {background:url(../images/heart.png) no-repeat top left;width:16px;height:16px}
.sidebar_popular a:hover .icon {background-position: top left;}
.sidebar_popular a:active .icon {background-position: top left;}


.sidebar_Tinyplaylist a .label {}
.sidebar_Tinyplaylist a .icon {background:url(../images/heart.png) no-repeat top left;width:16px;height:16px}
.sidebar_Tinyplaylist a:hover .icon {background-position: top left;}
.sidebar_Tinyplaylist a:active .icon {background-position: top left;}

.sidebar_Myplaylists a .label {}
.sidebar_Myplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Myplaylists a:hover .icon {background-position: top left;}
.sidebar_Myplaylists a:active .icon {background-position: top left;}


.sidebar_Allplaylists a .label {}
.sidebar_Allplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Allplaylists a:hover .icon {background-position: top left;}
.sidebar_Allplaylists a:active .icon {background-position: top left;}

.sidebar_Topplaylists a .label {}
.sidebar_Topplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Topplaylists a:hover .icon {background-position: top left;}
.sidebar_Topplaylists a:active .icon {background-position: top left;}

#sidebar .divider{background: #C9C4C8;height:1px; display:block;margin:10px 0;border-bottom:1px solid #D3CDD1;}

/* Profile / Avatar */
.avatar{display:block;margin:0 0 5px;padding:4px;border:1px solid #ccc;border-color:rgba(0,0,0,.25);-moz-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,.15);-webkit-border-radius:5px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.15);-webkit-transition:all 0.15s ease-out;}
.avarar:hover{border-color:#999;border-color:rgba(201,2,92,.5);-moz-box-shadow:0 0 5px rgba(201,2,92,.5);-webkit-box-shadow:0 0 5px rgba(201,2,92,.5)}
.verysmall{width:25px;height:25px;}
.small{width:37px;height:37px;}
.medium{width:50px;height:50px;}
.big{width:70px;height:70px;}
.espace{margin-right:12px;}

/* Listes Songs */
.song_list{margin: 10px 0; padding:0;font-size:13px;}
.song_info {line-height: 16px; list-style:none;}
.song_info a {display: block; margin: 0 0 1px 0; line-height: 16px; padding: 7px 6px; overflow:hidden; position:relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: none;}
.song_info a .number {position:absolute; top:7px; left: 30px;color: #BEBDBD; }

.song_info a .label {display:block; line-height: 16px; color: #666; margin-left: 40px;float:left;}
.song_info a .icon {position:absolute; top:7px; left: 4px;}

.song_info .add{background: url(../images/player_add.png) top left;width:24px;height:17px;display:block;float:right;overflow:hidden; }
.song_info .add:hover{background: url(../images/player_add.png) bottom left;width:24px;height:17px;display:block;}

.song_info .fav{background: url(../images/player_fav.png) top left;width:24px;height:17px;display:block;float:right;overflow:hidden; }
.song_info .fav:hover{background: url(../images/player_fav.png) bottom left;width:24px;height:17px;display:block;}

.song_info .share{background: url(../images/player_share.png) top left;width:24px;height:17px;display:block;float:right;overflow:hidden; }
.song_info .share:hover{background: url(../images/player_share.png) bottom left;width:24px;height:17px;display:block;}
.song_info.last {margin: 0;}

.song_info a:hover {background-color: rgba(70,27,80,0.2);text-decoration:none;}
.song_info a:hover .label {color: #461b50;}
.song_info a:hover .number {color: #461b50;}
.song_info a:active {background-color: #d0e4f0;}
.song_info a:active .label {color: #000;}
.song_info.selected a {background-color: #1384D5;}

.song_play a .icon {background:url(../images/allpl.png) no-repeat top left;width:16px;height:16px;}
.song_play a:hover .icon {background-position: top left;}
.song_play a:active .icon {background-position: top left;}

.dd{background:#f4f4f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}


/* Similar Artists */

ul.similar-artists{display:inline;vertical-align: top;}
ul.similar-artists li {position: relative;font-weight:500;text-align: center;float: left;display: inline;margin:0 9px 0px 0;overflow-x: hidden;overflow-y: hidden;}

/* Artistes Specific Styles */
.artist_rank{margin-left: 5px;font-size: 13px;font-weight: bold;}
.artist_descr{padding:0px 2px;color: #666666;overflow:hidden;}

/*Discuss*/
.comment{ background-color: #eee; padding: 10px 5px; margin: 0; font-size: 12px;border-top:1px solid #C9C5C8;border-bottom:1px solid #C9C5C8; }
.lineFeedContentWhen{color: #999999;font-size: 11px;}
.lineFeedContentWhat{color: #666;}
textarea{border:1px solid #ccc;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:8px;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;box-shadow:0 1px #fff;width:482px;height:56px;color:#222;font:14px/18px "Helvetica Neue",Arial,sans-serif;outline:none;_width:442px;overflow-x:hidden;overflow-y:auto;white-space:pre-wrap;word-wrap:break-word;}
.line{padding-top: 10px;

padding-right: 20px;

padding-bottom: 10px;

padding-left: 0px;

clear: both;

border-bottom-width: 1px;

border-bottom-style: solid;

border-bottom-color: #ebebeb;

line-height: 22px}
/* Artistes Tabs */
ul.tabs {float: right; padding-right: 10px; margin-right: 15px; height: 24px;border-bottom:1px solid #ddd;overflow-x: hidden;overflow-y: hidden;text-shadow: #ffffff;}
li.tab {display:inline; margin:0; padding:0; line-height: 22px;}
li.tab {float:left; display:block; color: #999; font-size: 12px; line-height: 22px; margin: 0 10px;}
li.tab span{line-height: 22px;}
li.tab {color: #461b50;margin:0;float:left;position:relative;cursor:pointer;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #fff;text-decoration: none;cursor: pointer;overflow:hidden;font-weight: bold;display: block;padding:0 10px;}
li.tab:hover{color:#461b50;}.artiste_actions {padding:8px 10px;background:#f4f4f4;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;clear:both;display:block;margin:10px 0px 15px;height:28px;}

.artiste_actions .buttons{float:right;font-size:0;}

/* Player  */	

#player { position: fixed; left: 0; bottom: 0; width: 100%; height: 72px; background: url(../images/player/player_bg.png) top left; z-index:1000;}
#player_content { height:72px; color: #fff;margin:0px 0 0 10px;}
#player_top { height: 22px;clear:both;padding:5px 0 0 8px;}

#player_bottom {height:28px; clear:both;padding:6px 0 0 5px;}
#player_bottom ul { list-style:none; margin:0; padding:0; }
#player_bottom ul li { display: inline; margin:0; padding:0; }
#player_bottom ul li a { float:left; display: block; }
#player_bottom ul li a.player_bttn_prev { width:30px; height:30px; background: url(../images/player/player_bttn_prev.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_play { width:30px; height:30px; background: url(../images/player/player_bttn_play.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_pause { width:30px; height:30px; background: url(../images/player/player_bttn_pause.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_forw { width:30px; height:30px; background: url(../images/player/player_bttn_forw.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_stop { width:30px; height:30px; background: url(../images/player/player_bttn_stop.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_rand { width:30px; height:21px; background: url(../images/player/player_random.png) top left no-repeat; margin: 5px 0px 0 6px;}
#player_bottom ul li a.player_bttn_repeat { width:25px; height:21px; background: url(../images/player/player_repeat.png) top left no-repeat; margin: 5px 0 0 3px;}
#player_bottom ul li a.player_bttn_mute { width:21px; height:21px; background: url(../images/player/player_mute.png) top left no-repeat; margin: 5px 8px 0 6px;}
#player_bottom ul li a.player_bttn_sound { width:9px; height:21px; background: url(../images/player/player_volume.png) bottom left no-repeat; margin: 5px 0 0 0;}
#player_bottom ul li a.player_bttn_reduce { width:37px; height:39px; background: url(../images/player/player_reduce.png) top left no-repeat;margin-left: 15px;}
#player_bottom ul li a.player_bttn_prev:hover { width:30px; height:30px;background-position: bottom left; }
#player_bottom ul li a.player_bttn_play:hover { width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_pause:hover width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_forw:hover { width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_stop:hover {width:30px; height:30px; background-position: bottom left;}
#player_bottom ul li a.player_bttn_rand:hover { background-position: bottom left; }
#player_bottom ul li a.player_bttn_repeat:hover { background-position: bottom left; }
#player_bottom ul li a.player_bttn_reduce:hover { background-position: bottom left; }

#player_bar {float: left; color: #fff; font-size: 8px; margin: 8px 0 0 0px; background: url(../images/player/player_playbar_bg.png) top center no-repeat; width: 634px; height:14px;}
#player_bar_control {width: 548px;margin-left:43px;}
#player_loading_bar {width: 35px; height:14px; background: url(../images/player/player_playbar_barload.png) top center repeat-x; margin: 3px 0 0 0;}
#player_progress_bar {height:14px; background: url(../images/player/player_playbar_bar.png) top center repeat-x;}
#videoCurrentTime {float:left;margin:-2px 2px 0 8px;}
#videoDuration {float:right; margin: -19px 10px 0 15px;}

#ytapiplayer_c {z-index:999; clear:both; position: fixed; left: -8000px; margin-left:-380px; top:50%; margin-top: -194px; width:761px; height: 388px; background:url(../images/video_bg.png) top left no-repeat;}
#ytapiplayer_c h1 {margin:19px 0 0 46px; padding: 0;}
#ytapiplayer_c .close_signbox {float: right; margin: -25px 50px 0 0;}
#ytapiplayer_c .ytp_content {margin: 28px 0 0 50px; clear:both;}

#player_plname {font-size:11px; color: #999; padding-left:18px;float: left; background: url('../images/player_plicon.png') top left no-repeat; height:20px;}
#player_plname b a {color:#fff; font-weight:bold; font-size:12px; text-decoration: none;}
#player_plname b a:hover {color:#1c9bc8; font-weight:bold; font-size:12px; text-decoration: underline;}
#player_bottomsep {float:left; width:2px; background: url(../images/player/player_separator.png) top left no-repeat; height:15px;margin: 2px 8px 0 12px;}
#player_mzname {font-size:11px; color: #999; padding-left:24px;  float: left; background: url(../images/player/player_mzicon.png) 4px 2px no-repeat;height:20px;}
#player_mzname a {font-size: 13px; color:#929999; text-decoration:none;}
#player_mzname a:hover {border-bottom: 1px solid #929999; color:#929999;}
#player_mzname b {font-size: 13px; color:#fff;}
#player_flag{float:left; margin-left:5px;margin-top:8px;}

#xparm {display:none;}
#player_top #right_action {float: left; width: 271px; height: 22px;margin-left:10px; }
#player_top #right_action a.share{float: left; display:block; width: 24px; height: 17px;  background: url(../images/player/player_share.png) top left no-repeat;}
#player_top #right_action a.share:hover{background-position: bottom left;}
#player_top #right_action a.fav{float: left; margin-right: 8px; display:block; width: 24px; height: 17px;  background: url(../images/player/player_fav.png) top left no-repeat;}
#player_top #right_action a.fav:hover{background-position: bottom left;}
#player_top #right_action a.add{float: left; margin-right: 8px; display:block; width: 24px; height: 17px; background: url(../images/player/player_add.png) top left no-repeat;}
#player_top #right_action a.add:hover{background-position: bottom left;}
#player_top #right_action a.vid{float: left; margin-right: 8px; display:block; width: 36px; height: 28px; margin-top: 8px; background: url(../images/player/player_video.png) top left no-repeat;}
#player_top #right_action a.vid:hover{background-position: bottom left;}
#player_bottom #right_action a.trash{float: left; display:block; width: 15px; height: 19px; margin-top: 8px; background: url(../images/player_trash.png) top left no-repeat;}
#player_bottom #right_action a.trash:hover{background-position: bottom left;}
#player_bottom #right_action #player_bottomsep {float:left; width:2px; background: url(../images/player/player_separator.png) top left repeat-y; height:15px;margin: 12px 8px 0 12px;}
#player_bottomseparator {float:left; width:2px; background: url(../images/player/player_separator.png) top left repeat-y; height:20px;margin: 6px 8px 0 12px;}

#player .player_current_track {font-weight: bold;margin-right: 1em;color:#fff;}


/* Ads  */	
div.ad {text-align: center;font-size: 12px;background: #EFE8ED;margin:10px 0;padding:5px 5px 7px 5px;}
