/* Body */
* {outline: none; border: none;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: none}
body {font:normal normal 13px/18px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; margin: 0 auto; background: #fff; color: #000;}


/* link & Title */
a{outline:none;text-decoration:none;color:#461b50;border:none;}a:hover{color:#461b50;text-decoration:underline;}
.centered{text-align:center;}em{font-style:italic;}.left{float:left;}.right {float: right !important;}.clear{clear:both;}
.top{vertical-align:top;}

h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
h1{line-height: 22px;letter-spacing: -0.5px;color: #148dc4;margin:0px 0 10px 0;font-size: 22px;}
h2{font-size: 16px; line-height: 22px;letter-spacing: -0.5px;color: #666;margin:12px 0 10px 0;font-weight: 300;}
h3{font-size: 14px; line-height: 22px;letter-spacing: -0.5px;color: #777;margin:12px 0 10px 0;}
h2 a{color:#666}
h2 a:hover{color:#461b50;}
h2.top_tracks {padding-left:25px;background: transparent url(../images/icon-star.png) no-repeat 0px 0px;}
h2.similar_art {padding-left:25px;background: transparent url(../images/icon-similar.png) no-repeat 0px 0px;}
h2.event {padding-left:25px;background: transparent url(../images/icon-event.png) no-repeat 0px 0px;}
h2.fan {padding-left:25px;background: transparent url(../images/heart.png) no-repeat 0px 0px;}
h2.all_tr {padding-left:25px;background: transparent url(../images/icon-alltr.png) no-repeat 0px 0px;}

#page_body_right h3 {margin: 0 0 10px 0;padding: 0 0 8px 0;font-size: .8em;line-height: 16px;text-transform: uppercase;border-bottom: 2px solid #D3CDD1;}
#page_body_right h3.about {padding:14px 0 9px 45px;background: transparent  url(../images/about.png) no-repeat 0 50%;}


/* Boutons */
.button{background:#222 url(../images/overlay-button.png) repeat-x 0 0;display:inline-block;padding:5px 15px 6px;font-size:12px;font-weight:500;line-height:1;text-decoration:none;-moz-border-radius:5px;border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer;overflow:visible;width:auto;margin-top:3px;}
.button::-moz-focus-inner{border:0;padding:0}
.button:hover{background-color:#111;text-decoration:none;}
.button:active{-webkit-transform:translateY(1px);-moz-transform:translateY(1px)}
.small.button{font-size:11px}
.big.button{font-size:13px}

.blue.button{background-color:#1283B7;color:#fff;}
.blue.button:hover{background-color:#19A1DF;color:#fff;}

.fbblue.button{background-color:#6789BF;color:#fff;}
.fbblue.button:hover{background-color:#6E92C5;color:#fff;}

.twblue.button{background-color:#56B5DE;color:#fff;}
.twblue.button:hover{background-color:#5EBEE2;color:#fff;}

.violet.button{background-color:#B32F82;color:#fff;}
.violet.button:hover{background-color:#D44CA1}

.red.button{background-color:#C41B62;color:#fff;}
.red.button:hover{background-color:#DC3686;color:#fff;}

.green.button{background-color:#17AF4B}
.green.button:hover{background-color:#1BCE59}

.grey.button{background-color:#f2f2f2;text-shadow: #f0f0f0;color: #333333;}
.grey.button:hover{background-color:#D5D5D5}

.super.button{background-image:url(../images/super-button-overlay.png);font-size:12px;border:1px solid rgba(0,0,0,.25);-webkit-border-radius:15px;-moz-border-radius:15px;line-height:1;}
.super.button .sm{display:block;padding:1px 8px;-webkit-border-radius:4px;-moz-border-radius:4px;line-height:1;}
.super.button .bigger{display:block;padding: 3px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;line-height:1;}

.large.button{font-size: 14px;padding:8px 14px;}

.more{background: url(../images/arrow_right.png) no-repeat center left;overflow-x: hidden;overflow-y: hidden;margin-left:3px;}

.inputed{padding:3px 6px;}
.searched{padding:6px 9px;}

/* Form */
input {margin-bottom:10px; background: #F9F8F8; border: 1px solid #c8c7c2; -moz-box-shadow: 1px 1px 4px #ddd inset; -webkit-box-shadow: 1px 1px 4px #ddd inset; box-shadow: 1px 1px 4px #ddd inset; color: #96958F;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:8px;}
label{position: relative;color: #656565;display: block;font-size: 12px;font-weight: 700;line-height: 18px;cursor: pointer;margin-bottom: 5px;}
select {border:1px solid #ccc;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:8px;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;box-shadow:0 1px #fff;color:#222;font:14px/18px "Helvetica Neue",Arial,sans-serif;outline:none;white-space:pre-wrap;word-wrap:break-word;}
input:focus,textarea:focus {background:#fff;outline:none;border-color:rgba(82,168,236,.75)!important;box-shadow:0 0 8px rgba(82,168,236,.5);-moz-box-shadow:0 0 8px rgba(82,168,236,.5);-webkit-box-shadow:0 0 8px rgba(82,168,236,.5);}


/* Header */
#topheader {width: 100%; margin: 0 auto; height: 43px; background: url(../images/header_bg.png) top left repeat-x; z-index: 900;}
#topheader h1 {margin: 0; display:inline;}
#playlistnow {display: block; position:absolute; width: 139px; height: 41px; background: url(../images/logo.png) top left no-repeat; left: 10px;}
#playlistnow span {display: none;}


/* Header Menu Left */

#menu {height: 32px; position: absolute; top: 4px; left: 145px; z-index: 1000;}
#menu li {float: left; display:inline;}
#menu li a {display: block; width: 32px; height: 32px;}

#topheader_search a{background:url(../images/magnify.png) top left; margin: 0 10px 0 7px;}
#topheader_search a:hover {background:url(../images/magnifyhover.png) top left;}
#topheader_search a:active {background:url(../images/magnifyhover.png) top left;}


#topheader_profile a {background:url(../images/user.png) top left; margin: 0 10px 0 10px;}
#topheader_profile a:hover {background:url(../images/userhover.png) top left;}
#topheader_profile a:active {background:url(../images/userhover.png) top left;}


#topheader_feed a {background:url(../images/profile.png) top left; margin: 0 10px 0 10px;}
#topheader_feed a:hover {background:url(../images/profilehover.png) top left;}
#topheader_feed a:active {background:url(../images/profilehover.png) top left;}


/* Header Menu Right */

#menu_right {height: 24px; position: absolute; top: 3px; right: 10px; margin-left: 200px;}
#menu_right li {float: right; margin: 1px 0 0 4px; position:relative;}


    
/* Search */
#search_form{background: transparent  url(../images/search_bg.png) no-repeat top left;height:143px;width:727px;margin:40px auto;border:none;}

#search_form .avatar { width: 95px; height: 95px; float: left;border:none; }
		#search_form .avatar span { display: block; margin: 18px 0 0 10px;border:none; }
		#search_form .avatar span a { display: block; width: 67px; height: 67px; background: url(../images/avatar.png) top left no-repeat; }
		#search_form .avatar span a img { display: block; padding: 4px 0 0 12px; }
		#search_form .input { width: 390px; height: 55px; float: left; }
		#search_form .input .iam { float: left; width: 36px; padding: 36px 0 0 6px; color: #76306D; font: bold 17px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align: right; }
		#search_form .input .inputiam { float: left; padding: 36px 0 0 0; }
		#search_form .input .inputiam input { margin: 0; padding: 0 0 0 5px; display: block; color: #76306D; font: bold 17px "Trebuchet MS", Arial, Helvetica, sans-serif; border: 0; width: 310px; background-color:#fff; -moz-box-shadow: 0px 0px 0px #fff inset; -webkit-box-shadow: 0px 0px 0px #fff inset; box-shadow: 0px 0px 0px #fff inset; }
		#search_form .input .inputiam input:focus { margin: 0; padding: 0 0 0 5px; display: block; color: #76306D; font: bold 17px "Trebuchet MS", Arial, Helvetica, sans-serif; border: 0; width: 310px; background-color:#fff; }
		
		#search_form .submit button.form-search { margin: 16px 0 0 10px;width: 214px; height: 64px; float: left;background: url(../images/search-submit.png) top left no-repeat;border:0;text-indent: -1000em;background-color: transparent;  }
		#search_form .submit button.form-search:active {background: url(../images/search-submit.png) bottom left no-repeat;outline-color: -moz-use-text-color;outline-style: none;outline-width: 0pt;  }

.autocomplete {background-color:white; color: #76306D; border: none; margin:0px; padding:10px;font-size:13px;overflow:hidden;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;border-right:1px solid #430F38;border-bottom:1px solid #430F38;border-left:1px solid #430F38;}
 
.autocomplete-w1 ul.auto {list-style-type:none; margin:0px; padding:0px;}
.autocomplete-w1 ul.auto li img{ vertical-align: middle;display: inline-block; -webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.autocomplete-w1 ul.auto li{ list-style-type:none; display:block; padding:5px 0px 5px 10px; cursor:pointer;color: #76306D; font-weight:700; text-decoration:none; margin-bottom:0px;border-bottom:1px solid #e9e9e9}
.autocomplete-w1 ul.auto li:hover {background:#F2F2F2;color:#4c92e9;}


/* Sidebar */
#sidebar { background:#DFD4D9 url(../images/side_bg.png) repeat-y top left; }

#sidebar .container_inner_wrapper{position:absolute; bottom: 24px; top:0; height: auto; overflow: scrolly;}
#sidebar .container_inner {width: 150px; margin: 10px 10px;}
#sidebar .sidebar_list{margin: 0; padding:0;}

/* Sidebar List */
.sidebar_info {line-height: 16px; list-style:none;}
.sidebar_info a {display: block; margin: 0 0 1px 0; line-height: 16px; padding: 4px 6px; overflow:hidden; position:relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: none;}
.sidebar_info a .label {display:block; line-height: 16px; color: #666; margin-left: 20px; padding-top: -1px;}
.sidebar_info a .icon {position:absolute; top:4px; left: 4px;}
.sidebar_info a .label, .dragProxy.playlist a .label {display:block; line-height: 16px; color: #666; margin-left: 24px; padding-top: -1px; height: 16px; overflow: hidden;}
.sidebar_info.last {margin: 0;}

.sidebar_info a:hover {background-color: rgba(70,27,80,0.2);text-decoration:none;}
.sidebar_info a:hover .label {color: #000;}
.sidebar_info a:active {background-color: #492D3D;}
.sidebar_info a:active .label {color: #fff;}
.sidebar_info.selected a {background-color: #492D3D;}


.sidebar_info.selected a:hover {background-color: #d2e5f9;}
.sidebar_info.selected a:hover .label {color: #276086; float: left;}
.sidebar_info.selected a:active {background-color: #492D3D;}
.sidebar_info.selected a:active .label {color: #fff; float: left;}


.sidebar_playlist a .label {}
.sidebar_playlist a .icon {background:url(../images/music.png) no-repeat top left;width:16px;height:16px;}
.sidebar_playlist a:hover .icon {background-position: top left;}
.sidebar_playlist a:active .icon {background-position: top left;}


.sidebar_Playing a .label {}
.sidebar_Playing a .icon {background:url(../images/allpl.png) no-repeat top left;width:16px;height:16px;}
.sidebar_Playing a:hover .icon {background-position: top left;}
.sidebar_Playing a:active .icon {background-position: top left;}


.sidebar_popular a .icon {background:url(../images/heart.png) no-repeat top left;width:16px;height:16px}
.sidebar_popular a:hover .icon {background-position: top left;}
.sidebar_popular a:active .icon {background-position: top left;}


.sidebar_Tinyplaylist a .label {}
.sidebar_Tinyplaylist a .icon {background:url(../images/heart.png) no-repeat top left;width:16px;height:16px}
.sidebar_Tinyplaylist a:hover .icon {background-position: top left;}
.sidebar_Tinyplaylist a:active .icon {background-position: top left;}

.sidebar_Myplaylists a .label {}
.sidebar_Myplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Myplaylists a:hover .icon {background-position: top left;}
.sidebar_Myplaylists a:active .icon {background-position: top left;}


.sidebar_Allplaylists a .label {}
.sidebar_Allplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Allplaylists a:hover .icon {background-position: top left;}
.sidebar_Allplaylists a:active .icon {background-position: top left;}

.sidebar_Topplaylists a .label {}
.sidebar_Topplaylists a .icon {background:url(../images/valid.png) no-repeat top left;width:16px;height:16px}
.sidebar_Topplaylists a:hover .icon {background-position: top left;}
.sidebar_Topplaylists a:active .icon {background-position: top left;}

#sidebar .divider{background: #C9BFC3;height:1px; display:block;margin:10px 0;border-bottom:1px solid #E9E1E5;}
.dividerin{background: #C9C4C8;height:1px; display:block;margin:10px 0;border-bottom:1px solid #D3CDD1;}
/* Profile / Avatar */
.avatar{display:block;margin:0px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-khtml-border-radius:4px;}
.avarar:hover{border-color:#999;border-color:rgba(201,2,92,.5);  border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-khtml-border-radius:4px;}
.verysmall{width:25px;height:25px;}
.small{width:45px;height:45px;}
.medium{width:60px;height:60px;}
.big{width: 80px;height:80px;}

.espace{margin-right:12px;}
.espacetop{height:12px;display:block;}

/* Listes Songs */
li.song_info {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    padding: 4px 12px;
}
li.song_info span, li.song_info a {
    padding-left: 4px;
}
.song_info .number { color: #BEBDBD }
li.song_info:hover, li.song_info.dd:hover {
    background-color: #e5ecf3;
    text-decoration: none;
}
li.song_info.selected.dd, li.song_info.selected { background-color: rgba(70,27,80,0.2) }


.song_info .icon {
    width: 16px;
    height: 18px;
    vertical-align: bottom;
    display: inline-block;
}
.song_info .icon.play {background: url(../images/allpl.png) no-repeat 0 0 transparent;}
.song_info .icon.play:hover {background-position: bottom left}

.song_info  .add {background: url(../images/adpl.png) no-repeat 0 0 transparent;}
.song_info  .add:hover {background-position: bottom left}

.song_info  .love{background: url(../images/love.png) no-repeat 0 0 transparent;}
.song_info  .love:hover {background-position: bottom left}

.song_info  .remove{background: url(../images/remove_pl.png) no-repeat 0 0 transparent;}
.song_info  .remove:hover {background-position: bottom left}
li.song_info.dd, .dd{background-color:#f4f4f4;}


/* Similar Artists */

ul.artists{display:inline;vertical-align: top;}
ul.artists li {position: relative;float: left;display: inline;overflow-x: hidden;overflow-y: hidden;}
ul.artists li a{display: block;;
margin:2px 0 0 5px;font-weight:700;font-size:11px;
width: 63px;height:86px;overflow:hidden;
word-wrap: break-word;}

/* Artistes Specific Styles */
.artist_rank{vertical-align:top;margin:0px 0 0 10px;font-size:12px;color:#492D3D;background:rgba(70,27,80,0.2);padding:4px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.artist_descr{padding:0px 2px;color: #666666;overflow:hidden;}

/*Discuss*/
.comment{  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f5f5f5;
    margin-bottom:5px;
    padding: 4px 12px; 
    color:#666;
    }

textarea{border:1px solid #ccc;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:8px;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;box-shadow:0 1px #fff;width:482px;height:56px;color:#222;font:14px/18px "Helvetica Neue",Arial,sans-serif;outline:none;_width:442px;overflow-x:hidden;overflow-y:auto;white-space:pre-wrap;word-wrap:break-word;}
.line{padding-top: 10px;

padding-right: 20px;

padding-bottom: 10px;

padding-left: 0px;

clear: both;

border-bottom-width: 1px;

border-bottom-style: solid;

border-bottom-color: #ebebeb;

line-height: 22px}
/* Artistes Tabs */
ul.tabs, ul.fake_tabs {
  margin:10px 0 13px 0;
  padding: 1px 0px 0 0px;
       text-transform: uppercase;
    height: 24px;
    border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow: #ffffff;
}
li.tab {
    display: inline;
    margin:0;
    padding: 0;
    line-height: 22px;
    
}
li.tab {
    float: left;
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    margin: 0 20px 0 0px;
    cursor: pointer;
}
li.tab span { line-height: 22px }


li.tab.selected {
    color: #461b50;
  
    float: left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    display: block;
 
}
li.tab:hover { color: #461b50 }


.artiste_actions {
    padding: 8px 10px;
    background: #f4f4f4;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    display: block;
    margin: 10px 0px 15px;
    height: 28px;
}



.artiste_actions .buttons{float:right;font-size:0;}

/* playlist list */

div.playlist.line {
   background:url(../images/line_bg.png) repeat-x top left #E1E1E1;
    height: 62px;
    width: 100%;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
     -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom:5px;
}

div.playlist.line:hover {
 background:#F0F0F0;  
}

div.playlist.line .icon {
    float: left;
    height: 60px;
    width: 60px;
}

div.playlist.line .description {
    float: left;
    padding: 4px 0 0;
 
    height: 44px;
}

div.playlist.line .small_font {
    font: 10px 'Trebuchet MS',Arial,Helvetica,sans-serif;
}

div.playlist.line .description .dTitle {
 font: bold 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
div.playlist.line .description .dTitle a{
color: #491c53;}

div.playlist.line .description .dValue {
    color: #777777;
}

div.playlist.line .description .cValue a{
    color: #4c92e9;
}
div.playlist.line .description .tValue a{
    color: #4c92e9;
}
div.playlist.line .cTitle {
    color: #777777;
}

div.playlist.line .tTitle {
    color: #777777;
}

/* Playlist details side */
div.sidebox {

    background:#ddd;
    color: #333333;
    padding: 4px;
    margin-bottom: 8px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

div.details.count {
     background: url("../images/count.png") no-repeat 8px 8px #eee;
    padding-left: 35px;
}
div.details.views {
    background: url("../images/views.png") no-repeat 8px 9px #eee;
    padding-left: 35px;
}
div.lined {
    
    clear: left;
    color: #595959;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

#playlist-tags{font-weight:bold;}
#playlist-tags li{
float: left;
font-size: 0.80em;
line-height: 20px;
margin-top: 0pt;
margin-right: 4px;
margin-bottom: 5px;
margin-left: 0pt;}
#playlist-tags a{color: #fff;display: block;font-weight: 700;padding: 3px 6px;background: #6D485D;border-color: #492D3D;border-style: solid;border-width: 1px 1px 0;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;box-shadow: 0 1px 0 0 #96ca6d inset;-moz-box-shadow: 0 1px 0 0 #AF819B inset;-webkit-box-shadow: 0 1px 0 0 #3F353B inset;text-shadow: 0 -1px 0 #3F353B;-moz-text-shadow: 0 -1px 0 #3F353B;-webkit-text-shadow: 0 -1px 0 #3F353B;}
#playlist-tags a:hover{background:#492D3D;color:#fff;text-decoration:none;}

 
/* Pagination */	
.pagination {margin:8px 0 15px 0;clear:both;}

.pagination a.page {-moz-border-radius: 2px;-webkit-border-radius: 2px; background-color: #e8e8e8; color: #999; display:block; padding:3px 5px; height: 18px;text-align: center; margin-left:2px;float:left; font-size: 11px; text-decoration: none;}
.pagination a.page:hover{background-color: #1c9bc8; color: #fff; display:block; text-align: center;}
.pagination .current {-moz-border-radius: 2px;-webkit-border-radius: 2px;background-color: #1c9bc8; color: #fff; display:block; display:block;padding:3px 5px; height: 18px; text-align: center; margin-left:2px;float:left; font-size: 11px; text-decoration: none;}
.pagination a.selected {-moz-border-radius: 2px;-webkit-border-radius: 2px;background-color: #1c9bc8; color: #fff; display:block; display:block;padding:3px 5px; height: 18px; text-align: center; margin-left:2px;float:left; font-size: 11px; text-decoration: none;}

.pagination a.prev, .pagination a.next {-moz-border-radius: 2px;-webkit-border-radius: 2px; background-color: #e8e8e8; color: #999; display:block; padding:3px 6px; height: 18px;text-align: center; margin-left:2px;float:left; font-size: 11px; text-decoration: none;}
.pagination a.prev:hover, .pagination a.next:hover {background-color: #1c9bc8; color: #fff;}
.pagination .disabled {-moz-border-radius: 2px;-webkit-border-radius: 2px; background-color: #e8e8e8; color: #999; display:block; padding:3px 6px; height: 18px;text-align: center; margin-left:2px;float:left; font-size: 11px; text-decoration: none;}

/* Player  */	

#player { position: fixed; left: 0; bottom: 0; width: 100%; height: 72px; background: url(../images/player/player_bg.png) top left; z-index:1000;}
#player_content { height:72px; color: #fff;margin:0px 0 0 10px;}
#player_top { height: 22px;clear:both;padding:5px 0 0 8px;}

#player_bottom {height:28px; clear:both;padding:6px 0 0 5px;}
#player_bottom ul { list-style:none; margin:0; padding:0; }
#player_bottom ul li { display: inline; margin:0; padding:0; }
#player_bottom ul li a { float:left; display: block; }
#player_bottom ul li a.player_bttn_prev { width:30px; height:30px; background: url(../images/player/player_bttn_prev.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_play { width:30px; height:30px; background: url(../images/player/player_bttn_play.png) top left no-repeat; }
#player_bottom ul li a.player_bttn_pause { width:30px; height:30px; background: url(../images/player/player_bttn_pause.png) top left no-repeat;}
#player_bottom ul li a.player_bttn_forw { width:30px; height:30px; background: url(../images/player/player_bttn_forw.png) top left no-repeat;}
#player_bottom ul li a.player_bttn_stop { width:30px; height:30px; background: url(../images/player/player_bttn_stop.png) top left no-repeat;}
#player_bottom ul li a.player_bttn_stop:hover {width:30px; height:30px; background-position: bottom left;}
#player_bottom ul li a.player_bttn_rand { width:30px; height:21px; background: url(../images/player/player_random.png) top left no-repeat; margin: 5px 0px 0 6px;}
#player_bottom ul li a.player_bttn_repeat { width:25px; height:21px; background: url(../images/player/player_repeat.png) top left no-repeat; margin: 5px 0 0 3px;}
#player_bottom ul li a.player_bttn_mute { width:21px; height:21px; background: url(../images/player/player_mute.png) top left no-repeat; margin: 5px 8px 0 6px;}
#player_bottom ul li a.player_bttn_sound { width:9px; height:21px; background: url(../images/player/player_volume.png) bottom left no-repeat; margin: 5px 0 0 0;}
#player_bottom ul li a.player_bttn_reduce { width:37px; height:39px; background: url(../images/player/player_reduce.png) top left no-repeat;margin-left: 15px;}
#player_bottom ul li a.player_bttn_prev:hover { width:30px; height:30px;background-position: bottom left; }
#player_bottom ul li a.player_bttn_forw:hover { width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_play:hover { width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_pause:hover width:30px; height:30px; background-position: bottom left; }
#player_bottom ul li a.player_bttn_rand:hover { background-position: bottom left; }
#player_bottom ul li a.player_bttn_repeat:hover { background-position: bottom left; }
#player_bottom ul li a.player_bttn_reduce:hover { background-position: bottom left; }

#player_bar {float: left; color: #fff; font-size: 8px; margin: 8px 0 0 0px; background: url(../images/player/player_playbar_bg.png) top center no-repeat; width: 634px; height:14px;}
#player_bar_control {width: 548px;margin-left:43px;}
#player_loading_bar {width: 35px; height:14px; background: url(../images/player/player_playbar_barload.png) top center repeat-x; margin: 3px 0 0 0;}
#player_progress_bar {height:14px; background: url(../images/player/player_playbar_bar.png) top center repeat-x;}
#videoCurrentTime {float:left;margin:-2px 2px 0 8px;}
#videoDuration {float:right; margin: -19px 10px 0 15px;}

#ytapiplayer_c {z-index:999; clear:both; position: fixed; left: -8000px; margin-left:-380px; top:50%; margin-top: -194px; width:761px; height: 388px; background:url(../images/video_bg.png) top left no-repeat;}
#ytapiplayer_c h1 {margin:19px 0 0 46px; padding: 0;}
#ytapiplayer_c .close_signbox {float: right; margin: -25px 50px 0 0;}
#ytapiplayer_c .ytp_content {margin: 28px 0 0 50px; clear:both;}

#player_plname {font-size:11px; color: #999; padding-left:18px;float: left; background: url('../images/player_plicon.png') top left no-repeat; height:20px;padding:1px;}
#player_plname b a {color:#fff; font-weight:bold; font-size:12px; text-decoration: none;}
#player_plname b a:hover {color:#1c9bc8; font-weight:bold; font-size:12px; text-decoration: underline;}
#player_bottomsep {float:left; width:2px; background: url(../images/player/player_separator.png) top left no-repeat; height:15px;margin: 2px 8px 0 12px;}
#player_mzname {font-size:11px; color: #999; padding-left:24px;  float: left; background: url(../images/player/player_mzicon.png) 4px 2px no-repeat;height:20px;}
#player_mzname a {font-size: 13px; color:#929999; text-decoration:none;}
#player_mzname a:hover {border-bottom: 1px solid #929999; color:#929999;}
#player_mzname b {font-size: 13px; color:#fff;}
#player_flag{float:left; margin-left:5px;margin-top:8px;}

#xparm {display:none;}
#player_top #right_action {float: left; width: 138px; height: 22px;margin-left:10px; }
#player_top #right_action a.share{float: left; display:block; width: 24px; height: 17px;  background: url(../images/player/player_share.png) top left no-repeat;}
#player_top #right_action a.share:hover{background-position: bottom left;}
#player_top #right_action a.fav{float: left; margin-right: 8px; display:block; width: 24px; height: 17px;  background: url(../images/player/player_fav.png) top left no-repeat;}
#player_top #right_action a.fav:hover{background-position: bottom left;}
#player_top #right_action a.add{float: left; margin-right: 8px; display:block; width: 24px; height: 17px; background: url(../images/player/player_add.png) top left no-repeat;}
#player_top #right_action a.add:hover{background-position: bottom left;}
#player_top #right_action a.vid{float: left; margin-right: 8px; display:block; width: 36px; height: 28px; margin-top: 8px; background: url(../images/player/player_video.png) top left no-repeat;}
#player_top #right_action a.vid:hover{background-position: bottom left;}
#player_bottom #right_action a.trash{float: left; display:block; width: 15px; height: 19px; margin-top: 8px; background: url(../images/player_trash.png) top left no-repeat;}
#player_bottom #right_action a.trash:hover{background-position: bottom left;}
#player_bottom #right_action #player_bottomsep {float:left; width:2px; background: url(../images/player/player_separator.png) top left repeat-y; height:15px;margin: 12px 8px 0 12px;}
#player_bottomseparator {float:left; width:2px; background: url(../images/player/player_separator.png) top left repeat-y; height:20px;margin: 6px 8px 0 12px;}

#player .player_current_track {font-weight: bold;color:#fff;}

#player_pzname {font-size:13px; color: #999; padding-left:24px;  float: left; background: url(../images/player/player_plicon.png) 4px 2px no-repeat;height:20px;padding-top:2px;}
#player_pzname a {font-size: 13px; color: #ffffff;font-weight: bold; text-decoration:none;}
#player_pzname a:hover {border-bottom: 1px solid #929999; color:#929999;}
#player_pzname b {font-size: 13px; color:#fff;}

#player_bottom .player_bttn_play {
    background-image: url(../images/player/player_bttn_play.png);
}
#player_bottom .player_bttn_pause {
    background-image: url(../images/player/player_bttn_pause.png);
}
#player_bottom .player_bttn_sound {
    background-position: left top:
}

/* Ads  */	
.framlktop {background: url(../images/liketop.png) top left no-repeat; width:60px; height:10px;float:left;margin-bottom:-1px;margin-left:22px;margin-top:6px;}

div.ad {font-size: 12px;background: #EFE8ED;margin-bottom:10px;padding:7px;-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;}
    
    div.ads {
	margin: 0 0 20px 0;
	padding: 10px 15px;
	background: #eee;
	font-size: .75em;
	font-weight: normal;
	text-align: center;
	color: #ddd;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}

    
h1,h2,h3,h4,h5,h6,.capitalize, span.label {
    text-transform: capitalize;
}

div.ad_song {font-size: 12px;background: #EFE8ED url(../images/magnify.png) no-repeat 6px 8px;margin:10px 0;padding:7px 3px 7px 45px;-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;}
    
.delete{display:block;background:url(../images/remove.png) no-repeat bottom left;height:16px;width:16px;padding:6px 0 0 0;}

/* homepage */
.homepage {
    background:url(../images/content_bg2.jpg) no-repeat;
    text-align: center;
}

.trail_title {
    font-size: 85%;
    padding-left: 1em;
    text-transform: capitalize;
    font-weight: bold;
    color:#461b50 !important; 
}
/* Contenu Central feed organisation */

/* Contenu Central feed organisation */

.list .lineFeed {border-bottom:1px solid #e9e9e9;padding:10px 0px; }

/* Contenu Central feed contenu */
 .list .lineFeed .lineFeedContent {margin-left:55px;}

	
.lineFeedContent .lineFeedContentWhat { color:#777; }
.lineFeedContent .lineFeedContentWhat a.name{font-weight:700;}


	
.lineFeedContent .lineFeedContentWhen {}	
.lineFeedContent .lineFeedContentWhen { padding: 1px 0 0 0px; color: #B7BCB8;font-size:11px; margin-bottom:4px; }
.lineFeedContent .lineFeedContentWhen a { color: #1C9BCB; text-decoration: none; }
.lineFeedContent .lineFeedContentWhen a:hover { color: #1C9BCB; text-decoration: underline; }
	
.lineFeedAvatar{display:inline;}

/* Profile */

div.profile ul li {line-height: 22px;color: #777777;}

div.profile span.location
{padding:3px 0 3px 16px;background: transparent  url(../images/icon-location.png) no-repeat 0 50%;}

div.profile a.facebook
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_facebook.png) no-repeat 0 50%;}

div.profile a.twitter
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_twitter.png) no-repeat 0 50%;}

div.profile a.gfc
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_google.png) no-repeat 0 50%;}

div.profile a.fan
{padding:3px 3px 3px 25px;background: transparent  url(../images/heart.png) no-repeat 0 50%;}

.statut {padding:3px 3px 3px 19px;background: transparent  url(../images/music.png) no-repeat 0 50%;}

.sc{margin-bottom:5px;}

/* Alerte */
div#user_notifications_container {
    position: fixed;
    top: 40px;
    right: 0;
    left:0;
    z-index: 2;
}
ul#user_notifications li
{

padding-top: 10px;

padding-right: 12px;

padding-bottom: 10px;

padding-left: 12px;

font-size: 14px;

font-weight: bold;

text-align: left;

color: #1770AA;

border-top-width: 1px;

border-top-style: solid;

border-top-color: #B9E0F9;

border-bottom-width: 1px;

border-bottom-style: solid;

border-bottom-color: #B9E0F9;

background-color: #D5ECFC;

background-image: url(../images/alert-lines.png);

background-repeat: repeat-x;

background-attachment: scroll;

background-position: left top;

}

ul.signin {

background-color: #fff;

background-image: url(../images/bg_signin.png);

background-repeat: repeat-x;

background-attachment: scroll;

background-position: left top;height:98px;margin-top:20px;}


ul.signin li{border-right:1px #E6E6E6 solid;display:block;height:97px;padding:0 1%;}
ul.signin li.selected{background:#fff;}
ul.signin li:first-child {border-left:1px solid #e6e6e6;margin-left:2.1%;}


ul.signin li div.connect
{padding:14px 0 9px 45px;background: transparent  url(../images/connect.png) no-repeat 0 50%;font-weight:700;font-size:15px;color:#4C4C4C;}

ul.signin li div.fill_form
{padding:14px 0 9px 45px;background: transparent  url(../images/fill_form.png) no-repeat 0 50%;font-weight:700;font-size:15px;color:#CCCCCC;}

ul.signin li div.find_friends
{padding:14px 0 9px 45px;background: transparent  url(../images/find_friends.png) no-repeat 0 50%;font-weight:700;font-size:15px;color:#CCCCCC;}
ul.signin li div.connect_text{padding:0 5px;font-size:12px;color:#999999;}

span.facebook
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_facebook.png) no-repeat 0 50%;}

span.twitter
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_twitter.png) no-repeat 0 50%;}

span.google
{padding:3px 6px 3px 25px;background: transparent  url(../images/ico_google.png) no-repeat 0 50%;}


span.unfollow{background:url(../images/remove.png) no-repeat 0 50%;padding:3px 6px 3px 25px;}
span.follow{background:url(../images/valid.png) no-repeat 0 50%;padding:3px 6px 3px 25px;}


/* Box Pop Up Sign in */
.network_tabs{padding:2px 0 0px 0; margin-top:-10px;margin-bottom:4px;border-bottom:1px solid #ddd;}
.network_tabs a.selected{background-color: #F3F3F3;}
.tabscontent a:hover{color:#1c9bc8;text-decoration:underline;}
.network_tabs a img {float: left;padding-right: 5px;}
.network_tabs a {padding:5px 8px;margin:1px 6px 0 6px; display: block;float: left;z-index: 1; color: #491c53;text-decoration:none;border-right:2px solid #fff;}
.network_tabs a:hover{background-color: #F3F3F3;text-decoration:none;}
.tabscontentL {margin: 0 20px 0 10px;padding:10px 0; text-align: justify; float:left; font: 12px;color:#444444;font-weight:700;}
.tabscontentL a{color:#1c9bc8;text-decoration:none;}
.tabscontentR {margin: 20px 0 0 10px; text-align: justify; float:left;color:#444444;}
.tabscontentR a{color:#1c9bc8;text-decoration:none;}


/* Add Friends */
.add_friend{
width: 360px;
	min-height: 60px;
	margin: 0; float:left;
	padding: 15px;
	border: 1px solid #e5e5e5;
	background: #fff;
	margin-right:10px;margin-bottom:8px;
	 -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	}
.add_friend:first-child {margin:0;}