/* General styles */
body, #html_body_wrapper {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    
}
.hidden, a.hidden, div.hidden { display: none; }

#player {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 72px;
    width: 100%;
}
#topheader {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 41px;
}
#sidebar {
    left: 0;
    top: 41px;
    bottom: 72px;
    position: fixed;
    width: 184px;
}
#page_body_wrapper {
    left: 184px;
    bottom: 72px;
    top: 41px;
    right: 0;
    padding: 20px;
    overflow: auto;
    position: fixed;
}
#page_body_right {
    width: 195px;
    border-left:1px solid #ddd;
    padding-left:15px;
    float: right;
    margin-left: 15px;
}
#page_body {
    overflow: hidden;
}
#ajaxload {
    cursor: pointer;
    left: 45%;
    position: fixed;
    top: 12px;
}

#simplemodal-overlay {
    background: url("../images/dark.png") repeat scroll left top black;
}

#simplemodal-data {
    -moz-border-radius: 5px 5px 5px 5px;
    width: 510px;
    background-color: white;
    overflow: hidden;
}

#simplemodal-title {
    display: block;
    -moz-border-radius-topright: 5px;
    background: url("../images/popupbg.png") no-repeat scroll left top transparent;
    clear: both;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
}

img.simplemodal-close {
    float: right;
    margin-top: -2px;
}

#page_title {
    display: none;
}
