/* General styles */
body, #html_body_wrapper {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    
}
.hidden, a.hidden, div.hidden { display: none; }

#player {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 72px;
    width: 100%;
}
#topheader {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 41px;
}
#sidebar {
    left: 0;
    top: 41px;
    bottom: 72px;
    position: fixed;
    width: 184px;
}
#page_body_wrapper {
    left: 184px;
    bottom: 72px;
    top: 41px;
    right: 0;
    padding: 20px;
    overflow: auto;
    position: fixed;
}
#page_body_right {
    width: 195px;
    border-left:1px solid #ddd;
    padding-left:15px;
    float: right;
    margin-left: 15px;
}
#page_body {
    overflow: hidden;
}
#ajaxload {
    cursor: pointer;
    left: 45%;
    position: fixed;
    top: 12px;
}
