/* General styles */
body, #page_body {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    font-size:90%;
}
.hidden, a.hidden, div.hidden { display: none; }

#player {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 72px;
    width: 100%;
}
#topheader {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 41px;
}
#sidebar {
    left: 0;
    top: 41px;
    bottom: 72px;
    position: fixed;
    width: 184px;
}
#body {
    float: left;
    margin-left: 184px;
    margin-bottom: 72px;
    margin-top: 41px;
    min-height: 100%;
    padding: 15px;
}

#ajaxload {
    cursor: pointer;
    left: 45%;
    position: fixed;
    top: 12px;
}
