{% load i18n %}
{% load comments %}
{% load cache %}

{% if activity.open %}
<div class="lineFeed">
    <div class="lineFeedAvatar">
        <a href="{% url user_details activity.actor.username %}" title="{% trans "details of user" %} {{ activity.actor.first_name }} {{ activity.actor.last_name }}">
            <img src="{{ activity.actor.playlistprofile.avatar_url }}" class="avatar small left espace" />
        </a>
    </div>
    <div class="lineFeedContent">
{% endif %}
        <div class="lineFeedContentWhat">
        {% block what %}

            <a href="{% url user_details activity.actor.username %}" title="{% trans "see details of user" %} {{ activity.actor }}" class="bold">
                {{ activity.actor.first_name }} {{ activity.actor.last_name }}
            </a>

            {{ activity.verb }}

            {% if activity.action_object %}
            <a href="{{ activity.action_object.get_absolute_url }}" title="{% trans "details of" %} {{ activity.action_object }}" class="bold">
                {{ activity.action_object }}
            </a>
            {% endif %}

            {% if activity.target %}
            <a href="{{ activity.target.get_absolute_url }}" title="{% trans "details of" %} {{ activity.target }}" class="bold">
                {{ activity.target }}
            </a>
            {% endif %}



        {% endblock %}
        {% if request.user.is_authenticated and request.user == activity.actor %}
            <span class="delete action_pk_{{ activity.pk }}">&nbsp;</span>
        {% endif %}

        </div>
{% if activity.close %}
        {% get_comment_count for activity as comment_count %}
        <div class="lineFeedContentWhen"> 
            {{ action.timestamp|timesince }} ago -
            {% if action in request.user.playlistprofile.fanof_actions.all %}
            <a class="authenticationRequired" href="{% url action_unlike action.pk %}">Unlike</a>
            {% else %}
            <a class="authenticationRequired" href="{% url action_like action.pk %}">I Like</a>
            {% endif %}
            {% block extra_actions %}
            {% endblock %}
            - 
            <a class="ui_ignore comment_form_toggle" href="">Comment (<strong>{{ comment_count }}</strong>)</a>
            {% render_comment_list for activity %}
        
            <div style="{% if not comment_count %}display: none{% endif %}" class="comment_form_contents" >
            {% render_comment_form for activity %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endif %}
