{% load i18n %}

<ul class="artists">
{% for artist in artists %}
    <li>
        <a href="{{ artist.get_absolute_url }}" class="tiptip" title="{% trans "details of artist" %} {{ artist }}">
            {% if artist.image_medium %}
            <img src="{{ artist.image_medium }}" alt="{{ artist }}" class="avatar small"/>
            {% else %}
            <img src="{{ artist.images.medium }}" alt="{{ artist }}" class="avatar small"/>
            {% endif %}
            {{ artist }}
        </a>
    </li>
{% endfor %}
</ul>
