<ul class="song_list">
{% for track in tracks %}
<li class="song_play song_info radius-4 {% cycle "dd" "" %} {% if track.pk %}track_pk_{{ track.pk }}{% else %}external_track{% endif %}">
    <span class="icon play"></span>
    <span class="number play">{{ forloop.counter }}</span>

    <a style="display:none" title="{{ track.youtube_get_best }}" class="hidden youtube_play" href="{{ track.youtube_get_best }}"></a>
    <a title="{{ track.artist.name }}" class="artist" href="{{ track.artist.get_absolute_url }}" style="{% if track.artist.name == 'YouTube' %}display: none;{% endif %}font-weight:bold">{{ track.artist.name|safe }}</a>
    {% if track.artist.name != 'YouTube' %}
    <span class="dash" style="color:#bebdbd">-</span> 
    {% endif %}
    <a title="Details of track {{ track }}" href="{{ track.get_absolute_url }}" class="label track">{{ track.name|safe }}</a>
    
    <span class="icon track_modify add add_track authenticationRequired right tiptip {% if playlist %}noconfirm copy_track_row playlist_pk_{{ playlist.pk }}{% endif %}" title="Add this song to {% if not playlist %}a Playlist{% else %}playlist {{ playlist }}{% endif %}"></span>
    <span class="icon love tiny_playlist {% if track in request.tiny_tracks %}remove_track {% if request.user.playlistprofile.tiny_playlist == playlist %}delete parent{% endif %}{% else %}add_track{% endif %} track_modify authenticationRequired right tiptip noconfirm {% if playlist and playlist == request.user.playlistprofile.tiny_playlist %}copy_track_row{% endif %} {% if request.user.is_authenticated %}playlist_pk_{{ request.user.playlistprofile.tiny_playlist.pk }}{% endif %}" title="{% if track in request.tiny_tracks %}Unlike and remove from your Tiny Playlist{% else %}Like and add to your tiny Playlist{% endif %}" style="{% if track in request.tiny_tracks %}background-position: left bottom;{% endif %}"></span>
    <span class="delete parent icon show_next"></span>
    <span class="right tools toggle icon tiptip" title="More actions for this track"></span>
    <ul class="song_tools">
        <li class="recommend">
            <a href="{% url music_recommendation_add %}?artist_name={{ track.artist.name|urlencode }}&track_name={{ track.name|urlencode }}&tab_id=local" class="popup authenticationRequired">
        		Recommend this track
            </a>
        </li>
        <li class="sharefb">
            <a href="{% url music_recommendation_add %}?artist_name={{ track.artist.name|urlencode }}&track_name={{ track.name|urlencode }}&tab_id=facebook" class="popup authenticationRequired">
                 Share this track
            </a>
        </li>
        <li class="sharetw">
            <a href="{% url music_recommendation_add %}?artist_name={{ track.artist.name|urlencode }}&track_name={{ track.name|urlencode }}&tab_id=twitter" class="popup authenticationRequired">
                 Tweet this track
            </a>
        </li>
        <li class="rm">
            {% if playlist.pk and track.pk %}
            <a href="{% url playlist_track_modify %}?action=remove&playlist_pk={{ playlist.pk }}&track_pk={{ track.pk }}">Remove</a>
            {% endif %}
        </li>
    </ul>
</li>
{% endfor %}
</ul>
