{% extends 'music/base.html' %}

{% load i18n %}
{% load music_tags %}

{% block extra_head %}
<meta name="keywords" content="{% for tag in object.tags %}{{ tag }}{% endfor %}" />
{% if object.description %}
<meta name="description" content="{{ object.description|striptags|safe }}" />
{% else %}
<meta name="description" content="{% trans "Read details of artist" %} {{ object.name }}" />
{% endif %}
{% endblock %}

{% block head_title %}{% trans "Details of artist" %} {{ object.name }}{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
{% block body_right %}
<h3>{% if playlists_including_artist.count %}{{ playlists_including_artist.count }}{% endif %} playlist <a href="" class="right">see all</a></h3>
			
			
			 <ul class="sidebar_list">

             <li class="sidebar_playlist sidebar_info">
                <a href="#">
                    <span class="icon"></span>

                    <span class="label">I am working in my computer</span>
                </a>
            </li>

           <li class="sidebar_playlist sidebar_info">
                <a href="/playlist/list/" title="all playlists you can listen to for free">

                    <span class="icon"></span>
                    <span class="label">I am chilling with my grand ma</span>

                </a>
            </li>
            <li class="sidebar_playlist sidebar_info">
                <a href="#">
                    <span class="icon"></span>
                    <span class="label">I am in my bathroom</span>

                </a>
            </li>

            
              
            
        </ul>
        <div class="espacetop"></div>
<h3><span class="fan">{% if object.local_artist.fans.count %}{{ object.local_artist.fans.count }}{% else %}0{% endif %} Fans</span> <a href="{% url music_artist_details_tab object|slugify 'fans' %}" class="right">see all</a></h3>
        <div class="friends" style="line-height: 22px;">
        {% for fan in object.local_artist.fans.all %}
            <a href="{{ fan.get_absolute_url }}" class="tiptip" title="{{ fan }}"><img src="{{ fan.avatar_url }}" class="avatar left espace verysmall sc"></a>
        {% endfor %}
</div>


                

<div class="clear"></div>
<div class="espacetop"></div>
<h3>Next events</h3>
<ul id="playlist-tags">

<li><a title="home" href="/tags/home">home</a></li>

<li><a title="work" href="/tags/work">work</a></li>

<li><a title="office" href="/tags/office">office</a></li>

<li><a title="party" href="/tags/party">party</a></li>

<li><a title="rock" href="/tags/rock">rock</a></li>

<li><a title="chill" href="/tags/chill">chill</a></li>

<li><a title="love" href="/tags/love">love</a></li>

<li><a title="happy" href="/tags/happy">happy</a></li>

<li><a title="relax" href="/tags/relax">relax</a></li>

<li><a title="dance" href="/tags/dance">dance</a></li>

<li><a title="computer" href="/tags/computer">computer</a></li>

<li><a title="fun" href="/tags/fun">fun</a></li>

<li><a title="working" href="/tags/working">working</a></li>

<li><a title="school" href="/tags/school">school</a></li>

<li><a title="sad" href="/tags/sad">sad</a></li>

</ul>




{% endblock %}
{% block body %}
<div class="profile">
{% if object.images.large %}
<img src="{{ object.images.large }}" alt="{{ object }}" class="avatar big left espace" style="display: block;position: relative;vertical-align: middle;"/>
{% endif %}
<h1 style="line-height:16px">{{ object.name }} {% if object.local_artist.rank %}<span class="artist_rank">Ranked {{ object.local_artist.rank }}</span>{% endif %}</h1> 
<ul style="margin:-2px 0 2px 0;">
				<li>
			<span class="statut"><strong>{% if playlists_including_artist.count %}{{ playlists_including_artist.count }}{% endif %}</strong> playlist</span> 
			<span class="sep">|</span> <a href="fan" class="fan"><strong>{% if object.local_artist.fans.count %}{{ object.local_artist.fans.count }}{% else %}0{% endif %}</strong> fans</a>

					</li>
			</ul>
<div class="follow">
<form action="{% url music_artist_fanship %}" class="authenticationRequired" method="post">
    {% if object.local_artist.pk %}
    <input type="hidden" name="artist_pk" value="{{ object.local_artist.pk }}" />
    {% else %}
    <input type="hidden" name="artist_name" value="{{ object.name }}" />
    {% endif %}
    <input type="hidden" name="action" value="{% if is_fan %}remove{% else %}add{% endif %}" />
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" class="button super grey" value="{% if is_fan %}{% trans "stop being fan" %}{% else %}become fan{% endif %}" />
</form>
</div>
</div>
<div class="clear"></div>
<ul id="tab_artist" class="tab_artist fake_tabs">
    <li class="tab first {% if tab == 'overview' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'overview' %}">
        {% trans "overview" %}
        </a>
    </li>
    <li class="tab {% if tab == 'music' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'music' %}">
        {% trans "music" %}
        </a>
    </li>
    <li class="tab {% if tab == 'fans' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'fans' %}">
        {% trans "fans" %}
        </a>
    </li>
    <li class="tab {% if tab == 'similar' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'similar' %}">
        {% trans "similar artists" %}
        </a>
    </li>
    <li class="tab last {% if tab == 'events' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'events' %}">
        {% trans "events" %}
        </a>
    </li>
</ul>

<div class="clear"></div>
{% if object.local_artist.last_playlist %}
<div class="ad"><span class="statut">Last playlist with {{ object.name }}:</span> 
<a href="{{ object.local_artist.last_playlist.get_absolute_url }}"><strong>{{ object.local_artist.last_playlist }}</strong></a>
</div>
{% endif %}

{% if tab == 'overview' %}

    {% if object.description %}
    <p class="artist_descr">
    {{ object.description|striptags|safe }}
    </p>
    <div class="clear"></div>
    {% endif %}

    {% if object.tracks %}
    <h2 class="top_tracks" style="display:inline-block"> 
    <a href="{% url music_artist_details_tab object|slugify 'music' %}" title="{% trans 'more tracks' %}">
        {% trans "top tracks" %}
        <span class="trail_title">{% trans '(see all tracks)' %}</span>
    </a>
    </h2>
    <div class="clear"></div>

    {% render_tracks object.tracks '' request %}
    {% endif %}
    <div class="espacetop"></div>
    <h2 class="similar_art" style="display:inline-block">
        <a href="{% url music_artist_details_tab object|slugify 'similar' %}" title="{% trans 'all similar artists' %}">
            {% trans "similar artists" %}
            <span class="trail_title">{% trans '(see all similar artists)' %}</span>
        </a>
    </h2>
    <div style="clear:both"></div>

    {% render_artists object.similar %}
{% endif %}



{% if tab == 'music' %}
<h2 class="all_tr">{% trans 'music of artist' %} {{ object }}</h2>
{% render_tracks tracks '' request %}
<div class="dividerin"></div>
<div class="virtual pagination">
    {% for page in allPages %}
    <a class="page {% if page == currentPage %}selected ui_prevent ui_ignore{% endif %}" href="{{ request.path_info }}?page={{ page }}">{{ page }}</a>
    {% endfor %}
</div>

{% endif %}

{% if tab == 'fans' %}
<ul class="fans">
 <h2 class="fan" style="display:inline-block">{{ object }}'s {% trans "fans" %}</h2>
    {% for fan in object.local_artist.fans.all %}
    <li class="user">
        <a href="{% url user_details fan.user.username|slugify %}" title="{% trans "click to see the complete profile of" %} {{ fan.user }}">
            <img src="{{ fan.avatar_url }}" class="avatar espace medium"/>
            <br/>{{ fan.user }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if tab == 'similar' %}
<h2 class="similar_art">{% trans 'artists similar to' %} {{ object }}</h2>
{% render_artists object.similar %}
{% endif %}

{% if tab == 'events' %}
<h2 class="event">{% trans 'events of artist' %} {{ object }}</h2>
<div class="list">
{% for event in object.events %}
<div class="lineFeed">
{{ event }}
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
