{% extends 'music/base.html' %}

{% load activity_tags %}
{% load i18n %}
{% load music_tags %}
{% load pagination_tags %}
{% load playlist_tags %}

{% block extra_head %}
<meta name="keywords" content="{% for tag in object.tags %}{{ tag }}{% endfor %}" />
{% if tab == 'music' %}
<meta name="description" content="{% trans "Click to listen to all streaming mp3 and videos of" %} {{ object.name }}: it's free and legal with PlaylistNow.fm!" />
{% else %}
<meta name="description" content="{% trans "Click to listen to all streaming mp3 and videos of" %} {{ object.name }}: it's free and legal with PlaylistNow.fm! {{ object.description|striptags|safe }}" />
{% endif %}
{% endblock %}

{% block head_title %}{% trans "Details of artist" %} {{ object.name }}{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
{% block body_right %}
<h3>{% if playlists_including_artist.count %}{{ playlists_including_artist.count }}{% endif %} playlist <a href="{% url music_artist_details_tab object|slugify 'playlists' %}" class="right">see all</a></h3>
			
{% if playlists_including_artist_slice %}
<ul class="sidebar_list">
    {% for playlist in playlists_including_artist_slice %}
    <li class="sidebar_playlist sidebar_info">
        <a href="{{ playlist.get_absolute_url }}" title="{{ playlist }}">
            <span class="icon"></span>
            <span class="label">{{ playlist }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if artist_fans_slice %}
<div class="espacetop"></div>

<h3><span class="fan">{% if object.local_artist.fans.count %}{{ object.local_artist.fans.count }}{% else %}0{% endif %} Fans</span> <a href="{% url music_artist_details_tab object|slugify 'fans' %}" class="right">see all</a></h3>

<div class="friends" style="line-height: 22px;">
    {% for fan in artist_fans_slice %}
    <a href="{{ fan.get_absolute_url }}" class="tiptip" title="{{ fan }}"><img src="{{ fan.avatar_url }}" class="avatar left espace verysmall sc"></a>
    {% endfor %}
</div>
{% endif %}

<div class="clear"></div>
{% endblock %}

{% block body %}
   <div class="profile">
   
 <div class="right" style="margin-top:-5px;">
<div class="follow">
        <form action="{% url music_artist_fanship %}" class="authenticationRequired" method="post">
            {% if object.local_artist.pk %}
            <input type="hidden" name="artist_pk" value="{{ object.local_artist.pk }}" />
            {% else %}
            <input type="hidden" name="artist_name" value="{{ object.name }}" />
            {% endif %}
            <input type="hidden" name="action" value="{% if is_fan %}remove{% else %}add{% endif %}" />
            <input type="hidden" name="next" value="{{ request.path }}" />
            <input type="submit" class="button super grey" value="{% if is_fan %}{% trans "stop being fan" %}{% else %}become fan{% endif %}" />
        </form>
    </div>
    </div>
    {% if object.images.large %}
     <div class="profile-picture left">
    <img src="{{ object.images.large }}" alt="{{ object }}" class="avatar big left espace" style="display: block;position: relative;vertical-align: middle;"/>
   </div>
   {% endif %}


  <div class="profile-name">
    <h1>{{ object.name }}
    {% if object.local_artist.rank %}
        <span class="artist_rank">Ranked {{ object.local_artist.rank }}</span>
    {% endif %}
    </h1> 

   <div class="profile-info">
	<ul>
	<li>
			<span class="statut bold">
            {% if playlists_including_artist.count %}
                {{ playlists_including_artist.count }}
            {% endif %} playlist
            </span> 
			
       
            <a href="fan" class="fan bold">{% if object.local_artist.fans.count %}{{ object.local_artist.fans.count }}{% else %}0{% endif %} fans</a>

        </li>
        <li><span class="location">Next event:</span></li>
    </ul>
</div>
</div>    
</div>
 <div class="clear"></div>
 
 <ul id="tab_artist" class="tab_artist fake_tabs">
    <li class="tab first {% if tab == 'overview' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'overview' %}">
        {% trans "overview" %}
        </a>
    </li>
    <li class="tab {% if tab == 'music' or tab == 'playlists' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'music' %}">
        {% trans "music" %}
        </a>
    </li>
    <li class="tab {% if tab == 'fans' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'fans' %}">
        {% trans "fans" %}
        </a>
    </li>
    <li class="tab {% if tab == 'similar' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'similar' %}">
        {% trans "similar artists" %}
        </a>
    </li>
    <li class="tab last {% if tab == 'events' %}selected{% endif %}">
        <a class="" href="{% url music_artist_details_tab object|slugify 'events' %}">
        {% trans "events" %}
        </a>
    </li>
    <div class="clear"></div>
</ul>




 {% if object.local_artist.last_playlist %}

<div class="statut">
    <span class="mood">Last playlist with {{ object.name }}:</span> 
    <a class="bold" href="{{ object.local_artist.last_playlist.get_absolute_url }}">{{ object.local_artist.last_playlist }}</a>
</div>
{% endif %}




{% if tab == 'overview' %}

    {% if object.description %}
    <h2>Biography</h2>
<p class="artist_descr">
    {{ object.description|striptags|safe }}
</p>
<div class="clear espacetop"></div>
    {% endif %}

    {% if object.tracks %}
<h2 class="top_tracks" style="display:inline-block"> 
    <a href="{% url music_artist_details_tab object|slugify 'music' %}" title="{% trans 'more tracks' %}">
        {% trans "top tracks" %}
        <span class="trail_title">{% trans '(see all tracks)' %}</span>
    </a>
</h2>

<div class="clear"></div>

    {% render_tracks object.tracks '' request %}
    {% endif %}
<div class="espacetop"></div>
<h2 class="similar_art" style="display:inline-block">
    <a href="{% url music_artist_details_tab object|slugify 'similar' %}" title="{% trans 'all similar artists' %}">
        {% trans "similar artists" %}
        <span class="trail_title">{% trans '(see all similar artists)' %}</span>
    </a>
</h2>
<div style="clear:both"></div>

    {% render_artists object.similar %}
{% endif %}

{% if tab == 'music' or tab == 'playlists' %}


   
        <a class="{% if tab == 'music' %}selected{% endif %}" href="{% url music_artist_details_tab object|slugify 'music' %}">
        {% trans "tracks" %}
        </a>
  /
  
        <a class="{% if tab == 'playlists' %}selected{% endif %}" href="{% url music_artist_details_tab object|slugify 'playlists' %}">
        {% trans "playlists" %}
        </a>

    {% if tab == 'music' %}
        <h2 class="all_tr" style="display: inline">{% trans 'music of artist' %} {{ object }}</h2>
        {% render_tracks tracks '' request %}
        <div class="dividerin"></div>
        <div class="virtual pagination">
            {% for page in allPages %}
            <a class="page {% if page == currentPage %}selected ui_prevent ui_ignore{% endif %}" href="{{ request.path_info }}?page={{ page }}">{{ page }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if tab == 'playlists' and object.local_artist %}
        <h2 class="all_tr">{% trans 'playlists including artist' %} {{ object }}</h2>
        <div class="dividerin"></div>


        {% autopaginate playlists_including_artist %}
        {% paginate %}
        {% render_playlists playlists_including_artist %}
    {% endif %}

{% endif %}

{% if tab == 'fans' %}
{% get_user_contenttype ctype %}
<ul class="fans">
<h2 class="fan" style="display:inline-block">{{ object }}'s {% trans "fans" %}</h2>
 <div class="list">
    {% for fan in object.local_artist.fans.all %}
<div class="lineFeed">
    <li class="user">
        <div class="left"><a href="{% url user_details fan.user.username|slugify %}" title="{% trans "click to see the complete profile of" %} {{ fan.user }}">
            <img src="{{ fan.avatar_url }}" class="avatar espace small"/></a></div>
       <div class="left"><div><a href="{% url user_details fan.user.username|slugify %}" title="{% trans "click to see the complete profile of" %} {{ fan.user }}">{{ fan.user }}</a></div>
       <div>Affinities: {{ fan|affinities_with:request.user }}&#37;</div>
     </div>
      <div class="right">
      <a href="{% url actstream_follow content_type_id=ctype.id  object_id=fan.user.id %}" class="super button grey right follow_button ui_ignore" style="margin-top:14px;{% if fan.user in request.user.playlistprofile.follows %}display:none{%endif%}">
            <span class="follow">follow</span>
        </a>
        <a href="{% url actstream_unfollow content_type_id=ctype.id  object_id=fan.user.id %}" class="super button grey right unfollow_button ui_ignore" style="margin-top:14px;{% if fan.user not in request.user.playlistprofile.follows %}display:none{% endif %}">
            <span class="unfollow">unfollow</span>
        </a> 
          
      </div>
<div class="clear"></div>
    </li>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if tab == 'similar' %}
<h2 class="similar_art">{% trans 'artists similar to' %} {{ object }}</h2>
{% render_artists object.similar %}
{% endif %}

{% if tab == 'events' %}
<h2 class="event">{% trans 'events of artist' %} {{ object }}</h2>
<div class="list">
{% for event in object.events %}
<div class="lineFeed">
{{ event }}
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
