<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml">

<style type="text/css">
frame, frameset { border: 0; }
</style>

<frameset rows="*,72px" FRAMEBORDER="0" FRAMESPACING="0" BORDER="0">
    <frame src="{{ request.META.HTTP_REFERER }}/" noresize="noresize" scrolling="no" name="site" />
    <frame src="{% url music_player_frame %}" noresize="noresize" scrolling="no" name="player" />
</frameset>

</html>
