{% extends "music/base.html" %}

{% load i18n %}
{% load music_tags %}

{% block head_title %}{% if request.GET.term %}{% trans "Results for" %} {{ request.GET.term }}{% else %}{% trans "Search music" %}{% endif %}{% endblock %}

{% block extra_head %}
<meta name="keywords" content="music search,artist search,mp3 search,track search,search,music" />
<meta name="description" content="{% trans "Search music for tracks to play or add to your playlists with PlaylistNow.Fm" %}" />
{% endblock %}


{% block body %}
<form action="{% url music_search %}" method="get">
    <input type="text" name="term" id="term" class="autocomplete" />
    <input type="submit" value="{% trans "Search" %}" />
</form>

{% if artists %}
<h2>{% trans "artists matching" %} '{{ request.GET.term }}'</h2>
<ul>
    {% for artist in artists %}
    <li>
        <a href="{{ artist.get_absolute_url }}" title="{% trans "details for artist" %} {{ artist }}">
        {{ artist.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if tracks %}
<h2>{% trans "tracks matching" %} '{{ request.GET.term }}'</h2>

{% render_tracks tracks %}

{% endif %}

{% endblock %}

{% block extra_body %}
<div id="csrf_token" style="display:none">
{% csrf_token %}
</div>

{% endblock %}
