{% extends "music/base.html" %}

{% load i18n %}

{% block body %}
<form action="{% url music_search %}" method="get">
    <input type="text" name="term" />
    <input type="submit" value="{% trans "Search" %}" />
</form>

{% if artists %}
<ul>
    {% for artist in artists %}
    <li>
        {{ artist.name }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(document).ready(function() {
    var autocomplete_input = $('input[type=text][name=term]');
    autocomplete_input.autocomplete({
        'source': '{% url music_search_autocomplete %}',
        // 'source': ['aaa', 'aaaa', 'aaaaa'],
    });
});
</script>
{% endblock %}
