{% extends 'music/base.html' %}

{% load i18n %}
{% load music_tags %}

{% block extra_head %}
<meta name="keywords" content="{% for tag in object.tags %}{{ tag }}{% endfor %}" />
{% if object.description %}
<meta name="description" content="{{ object.description|striptags|safe }}" />
{% else %}
<meta name="description" content="{% trans "Read details of track" %} {{ object.name }} {% trans "by" %} {{ object.artist.name }}" />
{% endif %}
{% endblock %}

{% block head_title %}{% trans "Details of track" %} {{ object.name }} {% trans "by" %} {{ object.artist.name }}{% endblock %}

{% block body %}
<h1>{{ object.name }}{% if object.artist %} {% trans "by" %} {{ object.artist.name }}{% endif %}</h1>

{% if object.image_large %}
<img src="{{ object.image_large }}" alt="{{ object }}" />
{% endif %}

{% render_track object '' request %}

{% if object.description %}
<p>{{ object.description|striptags|safe }}</p>
{% endif %}

{% if object.similar %}
<h2>{% trans "similar tracks" %}</h2>
{% render_tracks object.similar '' request %}
{% endif %}

{% endblock %}
