<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<script type="text/javascript" src="http://www.google.com/jsapi"></script> 
<script type="text/javascript"> 
google.load('friendconnect', '0.8');
</script> 
<script type="text/javascript"> 
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.initOpenSocialApi({
site: '{{ gfc_site_id }}',
onload: function(securityToken) { initAllData(); }
});
</script> 

</head> 
<body>

<script type="text/javascript"> 
function initAllData()
{
    var req = opensocial.newDataRequest();
    req.add(req.newFetchPersonRequest("VIEWER"), "viewer_data");
    req.send(onData);
};

function onData(data)
{
    if (data.get("viewer_data").hadError())
    {
        
        google.friendconnect.requestSignIn();
    }else
    {
        window.location='{% url gfc_callback %}';
    }
}
</script>

You should be redirected to Google login within 30 seconds.

<br />

If you are not, please check that your popup blocker did not prevent it, or <a href="{% url gfc_redirect %}">refresh the page</a> or <a href="{% url acct_signup %}" title="Signup page">try another login provider</a>.

</body>

</html>
