{% extends "site_base.html" %}

{% block head_title %}Credits{% endblock %}

{% block body %}
<h1 class="title"><span>What We Do ?</span></h1>
<h3>Playlistnow briefly</h3>

<div class="bloc">
<div class="list">
<p class="strong">Playlistnow is all about changing the way people think about music in the web.<br/>
We're big believers in the situation and the playlists that can make improve your experience. </p>
<br>
<hr style="height: 2px; background: none repeat scroll 0% 0% rgb(221, 221, 221);">
<br>
<p>Reach our latest news on the <a href="http://www.playlistnow.fm/wordpress/" alt="Blog" class="ui_ignore">Blog</a></p>
<p><span class="twitter">Follow us on</span> <a href="http://www.twitter.com/playlistnow" alt="Twitter" class="strong ui_ignore">Twitter</a></p>
<p><span class="facebook">Become Fan of our</span> <a href="http://www.facebook.com/Playlistnow" alt="Facebook Fan Page" class="strong ui_ignore">Facebook Page</a></p>
</div></div>

{% endblock %}
