{% extends "site_base.html" %}

{% block head_title %}Credits{% endblock %}

{% block body %}
<h1>Playlistnow Credits</h1>               
 <h2>A little bit about ourselves.</h2>
<h3>The Team</h3>
 <ul class="clearfix" style="border-bottom: 1px solid #EEE;padding-bottom:10px;">
	<li class="user-detailed-list-item">
  <a href="" style="position:absolute"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49059_709021188_1618_n.jpg" class="avatar small"></a>
  <div class="user-details en" style="margin-left: 60px;line-height: 18px;">
    <div class="user-name-info">
      <a class="" href="/user/jonathan-younes/">
      <span class="bold">Jonathan Younes</span></a>
   
    </div>
          <div class="role"><span class="role">Co-founder and CTO</span>
      </div>
          <div class="bio">
        <span class="italic">Born and raise in Paris. Like design and webdesign. Live Music Addict. </span> 
      </div>

    </div>
</li>
  </ul>
<div class="espacetop"></div>
 <ul class="clearfix" style="border-bottom: 1px solid #EEE;padding-bottom:10px;">
	<li class="user-detailed-list-item">
  <a href="" style="position:absolute"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161423_541325132_8335134_n.jpg" class="avatar small"></a>
  <div class="user-details en" style="margin-left: 60px;line-height: 18px;">
    <div class="user-name-info">
      <a class="" href="/user/franck-nakache/">
      <span class="bold">Franck Nakache</span></a>
   
    </div>
          <div class="location">
       <span class="location">Co-founder and Chef Music Officer</span>
      </div>
          <div class="bio">
        <span class="bio">Know all the good cool old songs and like share new one. Follow my lead.</span>
      </div>

    </div>
</li>
  </ul>
  <div class="espacetop"></div>
<ul class="clearfix" style="border-bottom: 1px solid #EEE;padding-bottom:10px;">
	<li class="user-detailed-list-item">
  <a href="" style="position:absolute"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161257_602795273_1658128_n.jpg" class="avatar small"></a>
  <div class="user-details en" style="margin-left: 60px;line-height: 18px;">
    <div class="user-name-info">
      <a class="" href="/user/robin-sabban/">
      <span class="bold">Robin Sabban</span></a>
   
    </div>
          <div class="location">
     <span class="location">Co-founder and CEO</span>
      </div>
          <div class="bio">
        <span class="bio">Serial Webentrepreneur and spiritual men. I luv meat.</span>
      </div>

    </div>
</li>
  </ul>
  <div class="espacetop"></div>
<ul class="clearfix">
	<li class="user-detailed-list-item">
  <a href="" style="position:absolute"><img src="http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/HsTZSDw4avx.gif" class="avatar small"></a>
  <div class="user-details en" style="margin-left: 60px;line-height: 18px;">
    <div class="user-name-info">
      <a class="" href="/user/james2/">
      <span class="bold">James Pic</span></a>
   
    </div>
          <div class="location">
        <span class="location">CWO</span>
      </div>
          <div class="bio">
        <span class="bio">Recruited by Jonathan, he deals with most of the hacketery behind playlistnow.fm</span>
      </div>

    </div>
</li>
  </ul>
  
<div class="clear espacetop"></div>
<h3>Other contributors</h3>
<ul class="clearfix">
	<li class="user-detailed-list-item">
  <a href="" style="position:absolute"><img src="http://dribbble.com/system/users/1636/avatars/original/twitter-01.jpg?1281771598" class="avatar small"></a>
  <div class="user-details en" style="margin-left: 60px;line-height: 18px;">
    <div class="user-name-info">
      <a class="" href="/user/alvin-thong/">
      <span class="bold">Alvin Thong</span></a>
   
    </div>
          <div class="location">
        <span class="location">Create awesome User Interface Design</span>
      </div>
          <div class="bio">
        <span class="bio">Website: <a href="http://www.sixbase.com" class="strong ui_ignore">Sixbase</a></span>
      </div>

    </div>
</li>
  </ul>

<div class="clear espacetop"></div>
<h2>PlaylistNow is built on the top of various open source softwares</h2>


Javascript:
<ul><li>
<a href="http://jquery.com" title="Javascript Framework">jQuery</a>
</li><li>
<a href="http://code.drewwilson.com/entry/tiptip-jquery-plugin" title="HTML Tooltip plugin">TipTip</a>
</li><li>
<a href="http://tkyk.github.com/jquery-history-plugin/" title="Ajax browsing plugin">jQuery history</a>
</li><li>
<a href="http://www.ericmmartin.com/projects/simplemodal/" title="Simple modal box plugin">simplemodal</a>
</li><li>
<a href="http://www.devbridge.com/projects/autocomplete/jquery/" title="Ajax AutoComplete for jQuery">jquery autocomplete</a>
</li></ul>

Python:
<ul><li>
<a href="http://djangoproject.com" title="Python framework for web dev">Django</a>
</li><li>
<a href="http://pinaxproject.com/" title="Development platform for Django">Pinax</a>
</li><li>
<a href="https://github.com/jtauber/django-mailer" title="Mail manager for django">django-mailer</a>
</li><li>
<a href="http://code.google.com/p/gdata-python-client/" title="Google Data APIs Python Client Library">gdata-python-client</a>
</li><li>
<a href="https://bitbucket.org/izi/django-admin-tools/wiki/Home" title="App that makes django admin modern">django-admin-tools</a>
</li><li>
<a href="https://github.com/flashingpumpkin/django-socialregistration" title="App that enables various authentication providers">django-socialregistration</a>
</li><li>
<a href="https://github.com/jtauber/django-notification" title="Notification framework">django-notification</a>
</li><li>
<a href="https://github.com/justquick/django-activity-stream" title="Activity stream framework">django-actstream</a>
</li><li>
<a href="http://code.google.com/p/django-endless-pagination/" title="Endless pagination">django-endless</a>
</li><li>
<a href="http://code.google.com/p/django-tagging/" title="Tagging">django-tagging</a>
</li><li>
<a href="https://github.com/pydanny/django-tagging-ext" title="Tagging ext">django-tagging-ext</a>
</li><li>
<a href="http://lxml.de/" title="LXML">lxml</a>
</li><li>
<a href="http://code.google.com/p/django-command-extensions/" title="django extensions">django-extensions</a>
</li></ul>

Development tools:
<ul><li>
<a href="http://www.mozilla.com/" title="Browser">Firefox</a>
</li><li>
<a href="http://getfirebug.com/" title="Javascript and CSS debugger">Firebug</a>
</li><li>
<a href="http://www.chromium.org/" title="Webkit based browser">Chromium</a>
</li><li>
<a href="http://www.vim.org" title="Code editor">Vim</a>
</li><li>
<a href="http://www.archlinux.org/" title="Arch Linux">Arch Linux</a>
</li><li>
<a href="http://www.irssi.org/" title="IRC client">Client for channels: #python, #javascript, #jquery, #django, #pinax ... Thanks to contributors!</a>
</li></ul>
{% endblock %}
