
    <div id="topheader">
        <h1>
            <a href="/" id="playlistnow">
                <span>Playistnow</span>
            </a>
        </h1>
        <ul id="menu">
             <li class="seplogo">&nbsp;</li>
            {% if request.user.is_authenticated %}
            
             <li>
         
         <ul id="nav" class="dropdown dropdown-horizontal">

	<li class="dir">Activies
		<ul>
			<li class="first"><a href="{% url me %}" title="Friend Feed">Friends Activities</a></li>
			<li><a href="{% url notification_notices %}" title="you have {{ notices.count }} new notifications">Notifications <span class="bold">({{ notices.count }})</span></a></li>
			

	</ul>
	</ul>
    </li>  
               <li class="sep">&nbsp;</li>    
              
                      <li>
         
         <ul id="nav" class="dropdown dropdown-horizontal">

	<li class="dir">You
		<ul>
			<li class="first"><a href="{% url user_details request.user.username %}" title="Your Profile {{ request.user }}">Your Profile</a></li>
			<li class="first"><a href="{% url user_details request.user.username %}" title="Your Profile">Your Playlists</a></li>
						<li class="first"><a href="{% url user_details request.user.username %}" title="Your Profile">Your Artists</a></li>



	</ul>
	</ul>
    </li> 
              
            <li id="topheader_feed">
                <a href="{% url me %}" class="tiptip" title="Friend Feed"></a>
            </li>
               <li class="sep">&nbsp;</li>
                    <li id="topheader_profile">
                <a href="{% url user_details request.user.username %}" class="tiptip" title="{{ request.user }}"></a>
            </li>
             <li class="sep">&nbsp;</li>
        
      <li id="topheader_create">
           <a href="{% url playlist_add %}" class="tiptip icon" title="Create a new playlist"></a>
            </li>
            {% if notices.count %}
             <li class="sep">&nbsp;</li>
             <li id="topheader_notif">
           <a href="{% url notification_notices %}" class="tiptip icon" title="you have {{ notices.count }} new notifications"><span>{{ notices.count }}</span></a>
            </li>
            {% endif %}
             <li class="sep">&nbsp;</li>
            {% endif %}
   
        </ul>
        <ul id="menu_right" class="right">
                      <li class="espace">&nbsp;</li>
            <li><form action="{% url music_search %}" method="get">
    <input type="text" name="term" id="term" class="autocomplete music search_header radius-8" style="margin-top:3px" />
</form></li>
<li><span class="topheader_search">&nbsp;</span></li>
            {% if request.session.socialregistration_user %}
              <li class="sep">&nbsp;</li>
                <li class="topheader_create">
                    <a class="button super blue" href="{% url socialregistration_setup %}">
                       <span>Complete registration process</span>
                    </a>
                    <a class="button super black" href="{% url acct_logout %}">
                       <span>Cancel registration process</span>
                    </a>
                </li>
            {% else %}
                {% if not request.user.is_authenticated %}
                  <li class="sep">&nbsp;</li>
                <li class="topheader_create"> 
                    <a class="button radius-15 violet popup" href="{% url acct_login %}">
                      <span>Login</span>
                    </a>
                </li>
                  <li class="sep">&nbsp;</li>
                <li class="topheader_create">
                    <a class="button radius-15 blue" href="{% url acct_signup %}">
                       <span>Become Member</span>
                    </a>
                </li>
                
                {% else %}
                 <li class="sep">&nbsp;</li>
               <li class="spacing">
                    <a class="ui_ignore" href="{% url acct_logout %}">
                       <span>Logout</span>
                    </a>
                </li>
                 <li class="sep">&nbsp;</li>
                <li class="spacing">
                    <a href="{% url notification_notice_settings %}">
                      <span>Settings</span>
                    </a>
                </li>
                <li class="sep">&nbsp;</li>
                {% endif %}
            {% endif %}
       
        </ul>
    </div>

