 <div id="topheader">
        <h1>
            <a href="/" id="playlistnow">
                <span>Playistnow</span>
            </a>
        </h1>
        <ul id="menu">
             <li class="seplogo">&nbsp;</li>
            {% if request.user.is_authenticated %}
            
       <li>
         <ul id="nav" class="dropdown dropdown-horizontal">

			<li class="dir">Activities
				<ul>
					<li class="first"><a href="{% url me %}" title="Friend Feed">Friends Activities</a></li>
					<li><a href="{% url notification_notices %}" title="you have {{ notices.count }} new notifications">Notifications <span class="bold">({{ notices.count }})</span></a></li>
				</ul>
		</ul>
    </li>  
               <li class="sep">&nbsp;</li>    
              
                      <li>
         
         <ul id="nav" class="dropdown dropdown-horizontal">

	<li class="dir">You
		<ul>
			<li class="first"><a href="{% url user_details request.user.username %}" title="Your Profile {{ request.user }}">Your Profile</a></li>
			<li class="first"><a href="{% url user_details_tab request.user.username 'playlists' %}" title="Your Profile">Your Playlists</a></li>
			<li class="first"><a href="{% url user_details_tab request.user.username 'artists' %}" title="Your Profile">Your Artists</a></li>



	</ul>
	</ul>
    </li> 
              
           
             <li class="sep">&nbsp;</li>
        
      <li style="padding:2px 10px;"> 
           <a href="{% url playlist_add %}" class="button grey" title="Create a new playlist">Create a new playlist</a>
            </li>
           
             <li class="sep">&nbsp;</li>
            {% endif %}
   
        </ul>
        <ul id="menu_right" class="right">
        	<li><span class="topheader_search">&nbsp;</span></li>
             <li class="espace">&nbsp;</li>
            <li>
            	<form action="{% url music_search %}" method="get">
    			<input type="text" name="term" id="term" class="autocomplete music search_header radius-3" style="margin-top:3px" />
				</form>
			</li>

            {% if request.session.socialregistration_user %}
              <li class="sep">&nbsp;</li>
                <li class="topheader_create">
                    <a class="button super blue" href="{% url socialregistration_setup %}">
                       <span>Complete registration process</span>
                    </a>
                    <a class="button super black ui_ignore" href="{% url acct_logout %}">
                       <span>Cancel registration process</span>
                    </a>
                </li>
            {% else %}
                {% if not request.user.is_authenticated %}
                  <li class="sep">&nbsp;</li>
                <li class="topheader_create"> 
                    <a class="button radius-15 violet popup" href="{% url acct_login %}">
                      <span>Login</span>
                    </a>
                </li>
                  <li class="sep">&nbsp;</li>
                <li class="topheader_create">
                    <a class="button radius-15 blue" href="{% url acct_signup %}">
                       <span>Become Member</span>
                    </a>
                </li>
                
                {% else %}
                 <li class="sep">&nbsp;</li>
               
                  <li>
		<ul id="nav" class="dropdown dropdown-horizontal">
			<li class="dir">Account
				<ul>
                    <li>
                    	<a class="ui_ignore" href="{% url acct_logout %}">
                       <span>Logout</span>
                    	</a>
                	</li>
					<li>
                    <a href="{% url notification_notice_settings %}">
                      <span>Email Settings</span>
                    </a>
                	</li>
					<li>
                    <a href="{% url user_settings request.user.username %}">
                      <span>User settings</span>
                    </a>
                	</li>
                </ul>
            </li>
        </ul>
                <li class="sep">&nbsp;</li>
                {% endif %}
            {% endif %}
       
        </ul>
    </div>

