{% extends "site_base.html" %}

{% load i18n %}
{% load music_tags %}

{% block head_title %}{% if request.GET.term %}{% trans "Results for" %} {{ request.GET.term }}{% else %}{% trans "Search music" %}{% endif %}{% endblock %}

{% block extra_head %}
<meta name="keywords" content="music search,artist search,mp3 search,track search,search,music" />
<meta name="description" content="{% trans "Search music for tracks to play or add to your playlists with PlaylistNow.Fm" %}" />
{% endblock %}

{% block page_body_wrapper_class %}homepage{% endblock %}

{% block body %}
<form action="{% url music_search %}" method="get">
    <input type="text" name="term" id="term" class="autocomplete" />
    <input type="submit" value="{% trans "Search" %}" />
</form>
{% endblock %}

{% block extra_body %}
<div id="csrf_token" style="display:none">
{% csrf_token %}
</div>

{% endblock %}
