<div id="player_content">
    <div id="player_bottom">
        <ul>
            <li>
                <a class="player_bttn_prev ui_ignore"></a>
            </li>
            <li>
                <a class="player_bttn_play ui_ignore"></a>
            </li>
            <li>
                <a style="display:none;" class="player_bttn_pause ui_ignore"></a>
            </li>
            <li>
                <a class="player_bttn_forw ui_ignore"></a>
            </li>
            <li>
                <a class="player_bttn_stop ui_ignore"></a>
            </li>
        </ul>
        <div id="player_bottomseparator"></div>
   
      
        <div id="player_bar">
            <span id="videoCurrentTime"></span>
            <div id="player_bar_control">
                <div style="width:0;" id="player_loading_bar">
                    <div style="width:0;" id="player_progress_bar"></div>
                </div>
            </div>
            <span id="videoDuration"></span>
        </div>

   
        <div id="player_bottomseparator"></div>
        
        <ul>
            <li>
                <a class="player_bttn_mute ui_ignore" id="player_mute_bttn"></a>
            </li>
            <li>
                <a class="player_bttn_sound ui_ignore level_20" style="background-position: top left"></a>
            </li>
            <li>
                <a class="player_bttn_sound ui_ignore level_40" style="background-position: top left"></a>
            </li>
            <li>
                <a class="player_bttn_sound ui_ignore level_60" style="background-position: top left"></a>
            </li>
            <li>
                <a class="player_bttn_sound ui_ignore level_80"></a>
            </li>
            <li>
                <a class="player_bttn_sound ui_ignore level_100"></a>
            </li>

            <div id="player_bottomseparator"></div>

            <li>
                <a class="player_bttn_rand ui_ignore" style="background-position:bottom left"></a>
            </li>

            <div id="player_bottomseparator"></div>
            
            <li>
                <a  class="player_bttn_repeat ui_ignore"></a>
            </li>
        </ul>	

        <div id="player_bottomseparator"></div>
    </div>
</div>

