{% load i18n %}
<div class="container_inner_wrapper">
    <div class="container_inner">
    
        <ul class="sidebar_list">
<li class="menu_top">Menu</li>
             <li class="sidebar_playlist sidebar_info">
                    <a href="{% url playlist_list %}" title="{% trans "all playlists you can listen to for free" %}">
                    <span class="icon"></span>
                   <span class="label">{% trans "all playlists" %}</span>
                </a>
            </li>

           
            <li class="sidebar_Topplaylists sidebar_info">
                <a href="{% url playlist_list_top %}" title="{% trans "most popular playlists" %}">
                    <span class="icon"></span>
                    <span class="label">Top Playlists</span>

                </a>
            </li>
            {% if request.user.is_authenticated and request.user.username %}
              <li class="sidebar_Myplaylists sidebar_info">
                
                <a href="{% url user_details_tab request.user.username 'playlists' %}">
                
                    <span class="icon"></span>
                    <span class="label">My Playlists</span>
                </a>
            </li>
            {% endif %}

             <li class="sidebar_Tinyplaylist sidebar_info">
                <a href="{% if request.user.is_authenticated %}{{ request.user.playlistprofile.tiny_playlist.get_absolute_url }}{% endif %}" class="authenticationRequired">
                    <span class="icon"></span>
                    <span class="label">Tiny Playlist</span>
                </a>
            </li>

              <li class="sidebar_Playing sidebar_info">

                <a href="#" style="display: none;">
                    <span class="icon"></span>
                    <span class="label">Now Playing</span>
                </a>
            </li>
            
        </ul>

        <div class="divider"></div>
           </div>
        <div id="iframeplayer">
            <!--<iframe title="YouTube video player" class="youtube-player" type="text/html" width="182" height="182" src="http://www.youtube.com/embed/cxVH-5D6c-k" frameborder="0" allowFullScreen></iframe>-->
        </div>
       
       <div class="sidebar_action"><span class="fullscreen tiptip" title="Double click on the video to switch to full screen">Full screen</span>     <a class="tiptip badvideo ui_ignore" title="Get a fresh youtube result">Next video</a></div>       

		 
       <div class="sidebar_information"><img src="http://userserve-ak.last.fm/serve/126/16233087.jpg" style="height: 34px; width: 34px; float: left; margin-top: 2px;margin-left:5px;border:1px solid #C2C2C2;padding:1px;background:#fff;margin-right:10px;">
		 <div class="songInfo left" style="margin-top:4px;line-height:16px;"><span class="title"><a class="player_current_track"></a></span><span class="artist" style="display: block;font-size: 11px;margin-top: 1px;font-weight:700;"><a class="player_current_artist"></a></span></div>
		</div>       

	  <div class="sidebar_action"><span class="fullscreen tiptip"></span>     <a class="tiptip badvideo ui_ignore"></a> <span class="divider_action"></span> <a class="tiptip share_sidebar"></a> <a class="tiptip add_sidebar"></a> <a class="like_sidebar"></a>
         
       


</div>
