{% load i18n %}
<div class="container_inner_wrapper">
    <div class="container_inner">
    
        <ul class="sidebar_list">

             <li class="sidebar_playlist sidebar_info">
                <a href="#">
                    <span class="icon"></span>
                    <span class="label">Playlists</span>
                </a>
            </li>

            <li class="sidebar_Allplaylists sidebar_info">
                <a href="{% url playlist_list %}" title="{% trans "all playlists you can listen to for free" %}">

                    <span class="icon"></span>
                    <span class="label">{% trans "all playlists" %}</span>
                </a>
            </li>
            <li class="sidebar_Topplaylists sidebar_info">
                <a href="#">
                    <span class="icon"></span>
                    <span class="label">Top Playlists</span>

                </a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="sidebar_Myplaylists sidebar_info">
                
                <a href="{% url user_details_tab request.user.username 'playlists' %}">
                
                    <span class="icon"></span>
                    <span class="label">My Playlists</span>
                </a>
            </li>
            {% endif %}

             <li class="sidebar_Tinyplaylist sidebar_info">
                <a href="{% if request.user.is_authenticated %}{{ request.user.playlistprofile.tiny_playlist.get_absolute_url }}{% endif %}" class="authenticationRequired">
                    <span class="icon"></span>
                    <span class="label">Tiny Playlist</span>
                </a>
            </li>

              <li class="sidebar_Playing sidebar_info">

                <a href="#">
                    <span class="icon"></span>
                    <span class="label">Now Playing</span>
                </a>
            </li>
            
        </ul>

        <div class="divider"></div>
       
    </div>
</div>
