{% extends "site_base.html" %}

{% block head_title %}Credits{% endblock %}

{% block body %}
PlaylistNow is built on the top of various open source softwares:

Staff:
<ul><li>
Jonathan Younes 
</li><li>
Franck Nakache
</li><li>
James Pic worked 350H on this website version: all Python, Javascript, and some HTML and CSS. <a href="">Hire James</a>
</li></ul>

Javascript:
<ul><li>
<a href="http://jquery.com" title="Javascript Framework">jQuery</a>
</li><li>
<a href="http://code.drewwilson.com/entry/tiptip-jquery-plugin" title="HTML Tooltip plugin">TipTip</a>
</li><li>
<a href="http://tkyk.github.com/jquery-history-plugin/" title="Ajax browsing plugin">jQuery history</a>
</li><li>
<a href="http://www.ericmmartin.com/projects/simplemodal/" title="Simple modal box plugin">simplemodal</a>
</li><li>
<a href="http://www.devbridge.com/projects/autocomplete/jquery/" title="Ajax AutoComplete for jQuery">jquery autocomplete</a>
</li></ul>

Python:
<ul><li>
<a href="http://djangoproject.com" title="Python framework for web dev">Django</a>
</li><li>
<a href="http://pinaxproject.com/" title="Development platform for Django">Pinax</a>
</li><li>
<a href="https://github.com/jtauber/django-mailer" title="Mail manager for django">django-mailer</a>
</li><li>
<a href="http://code.google.com/p/gdata-python-client/" title="Google Data APIs Python Client Library">gdata-python-client</a>
</li><li>
<a href="https://bitbucket.org/izi/django-admin-tools/wiki/Home" title="App that makes django admin modern">django-admin-tools</a>
</li><li>
<a href="https://github.com/flashingpumpkin/django-socialregistration" title="App that enables various authentication providers">django-socialregistration</a>
</li><li>
<a href="https://github.com/jtauber/django-notification" title="Notification framework">django-notification</a>
</li><li>
<a href="https://github.com/justquick/django-activity-stream" title="Activity stream framework">django-actstream</a>
</li><li>
<a href="http://code.google.com/p/django-endless-pagination/" title="Endless pagination">django-endless</a>
</li><li>
<a href="http://code.google.com/p/django-tagging/" title="Tagging">django-tagging</a>
</li><li>
<a href="https://github.com/pydanny/django-tagging-ext" title="Tagging ext">django-tagging-ext</a>
</li><li>
<a href="http://lxml.de/" title="LXML">lxml</a>
</li><li>
<a href="http://code.google.com/p/django-command-extensions/" title="django extensions">django-extensions</a>
</li></ul>

Development tools:
<ul><li>
<a href="http://www.mozilla.com/" title="Browser">Firefox</a>
</li><li>
<a href="http://getfirebug.com/" title="Javascript and CSS debugger">Firebug</a>
</li><li>
<a href="http://www.chromium.org/" title="Webkit based browser">Chromium</a>
</li><li>
<a href="http://www.vim.org" title="Code editor">Vim</a>
</li><li>
<a href="http://www.archlinux.org/" title="Arch Linux">Arch Linux</a>
</li><li>
<a href="http://www.irssi.org/" title="IRC client">Client for channels: #python, #javascript, #jquery, #django, #pinax ... Thanks to contributors!</a>
</li></ul>
{% endblock %}
