{% load comments i18n %}
  <div class="comment radius-4">
<form action="{% comment_form_target %}" method="post" class="authenticationRequired nohashchange" style="margin-top:2px;">
    {% if request.user.is_authenticated %}
    {% csrf_token %}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {% endif %}
      <a href="{{ request.user.get_absolute_url }}"><img src="{{ request.user.playlistprofile.avatar_url }}" class="avatar verysmall left espace"></a>
    <input type="hidden" name="next" value="{{ request.path }}" />
<div style="display: table-cell;vertical-align: top;width: 10000px;">
    {{ form.comment }}
<div class="clear"></div>
    <input type="submit" class="submit-post super button blue" value="Comment">
    </div>
    <div class="clear"></div>
   
</form>
</div>
