{% load humanize %}

<dl id="comments">
  {% for comment in comment_list %}
  <div class="comment">
    <dt  id="c{{ comment.id }}">
    <a href="{{ comment.user.get_absolute_url }}" title="Details of user {{ comment.user }}"><img alt="Avatar of {{ comment.user }}" src="{{ comment.user.playlistprofile.avatar_url }}" class="avatar verysmall left espace"></a>
       <a href="{{ comment.user.get_absolute_url }}" title="Details of user {{ comment.user }}"><strong>{{ comment.user }}</strong></a> - {{ comment.submit_date|naturalday }} 
    </dt>
    <dd>
        <p style="color:#77777">{{ comment.comment }}</p>
    </dd>
    </div>
  {% endfor %}
</dl>
