{% load humanize %}
{% load playlist_tags %}
<div class="comments">
  {% for comment in comment_list %}
  
	<div id="c{{ comment.id }}" class="comment radius-4">
	 <div class="left">
   		<a href="{{ comment.user.get_absolute_url }}" title="Details of user {{ comment.user }}"><img alt="Avatar of {{ comment.user }}" src="{{ comment.user.playlistprofile.avatar_url }}" class="avatar verysmall left espace"></a>
    </div>	
    <div style="display: table-cell;vertical-align: top;width: 10000px;">
		<a class="bold" href="{{ comment.user.get_absolute_url }}" title="Details of user {{ comment.user }}">{{ comment.user }}</a> <span style="color:#ae72ae;">({% if comment.user.is_staff %}staff{% else %}{{ comment.user|get_rank_text }}{% endif %})</span>  {{ comment.comment }}
        <p class="date">{{ comment.submit_date|naturalday }}</p>
      </div>
      <div class="clear"></div>
    </div>
  {% endfor %}
</div>
