{% extends "site_base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load playlist_tags %}
{% load music_tags %}
{% load comments %}
{% load cache %}
{% block head_title %}{% trans "playlists created by" %}: {{ user }}{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
{% block body_right %}

{% cache 3600 sidebar user %}
<h3>Follower {{ followers_qs.count }} <a href="{% url user_details_tab user.username 'followers' %}" class="right">see all</a></h3>

<div class="friends" style="line-height:22px;">
    {% for user in followers %}
    <a href="{{ user.playlistprofile.get_absolute_url }}" class="tiptip" title="{{ user.playlistprofile }}"><img src="{{ user.playlistprofile.avatar_url }}" class="avatar  verysmall sc"></a>
    {% endfor %}
</div>

<div class="clear espacetop"></div>

<h3>Following  {{ follows_qs.count }}
    <a href="{% url user_details_tab user.username 'follows' %}" class="right">see all</a>
</h3>

<div class="friends" style="line-height:22px;">
    {% for user in follows %}
    <a href="{{ user.playlistprofile.get_absolute_url }}" class="tiptip" title="{{ user.playlistprofile }}"><img src="{{ user.playlistprofile.avatar_url }}" class="avatar  verysmall sc"></a>
    {% endfor %}
</div>
{% endcache %}

{% endblock %}


{% block body %}
   <div class="profile">
 <div class="right" style="margin-top:-5px;">
 {% if request.user != user %}
    <div class="follow">
    <a href="{% url actstream_follow content_type_id=ctype.id  object_id=user.id %}" class="ui_ignore super button grey right follow_button" style="{% if do_i_follow %}display:none{%endif%}">
        <span class="follow">follow</span>
    </a>
    <a href="{% url actstream_unfollow content_type_id=ctype.id  object_id=user.id %}" class="ui_ignore super button green right unfollow_button" style="{% if not do_i_follow %}display:none{% endif %}">
        <span class="following">following</span>
    </a> 

    </div>
{% endif %}

</div>
 
 <div class="profile-picture left">
 <img src="{{ user.playlistprofile.avatar_url }}" class="espace">
</div>

  <div class="profile-name">
    <h1 class="left" style="margin-right:10px;">{{ user }}</h1> 
<div class="button super violet tiptip" style="margin-top:-5px;" title="{% if user == request.user %}You are{% else %}{{ user }} is{% endif %} a {{ user|get_rank_text }}, {{ user|get_bar_width:100 }}% completed. Next level is {{ user|get_next_rank_text }}">{% if user.is_staff %}staff{% else %}{{ user|get_rank_text }}{% endif %}</div>
	<div class="profile-info">
	<ul>
	<li>
			<span class="location">{{ user.playlistprofile.user_location }}</span> 
            {% if facebookprofile %}
			
                <a href="{{ facebookprofile.url }}" class="facebook">{% if facebookprofile.nick %}{{ facebookprofile.nick }}{% else %}<span class="bold">Facebook</span>{% endif %}</a>
            {% endif %}
   
            {% if twitterprofile %}
	       
			<a href="{{ twitterprofile.url }}" class="twitter">{% if twitterprofile.nick %}{{ twitterprofile.nick }}{% else %}<span class="bold">Twitter</span>{% endif %}</a>
            {% endif %}

            {% if gfcprofile.url %}
			
			<a href="{{ gfcprofile.url }}" class="gfc ui_ignore" target="_blank">{% if gfcprofile.nick %}{{ gfcprofile.nick }}{% else %}<span class="bold">Google</span>{% endif %}</a>
            {% endif %}
        </li>
        {% if request.user.is_authenticated %}
        <li><span class="bold afinities {{ user|affinities_with_class:request.user }}">{{ user|affinities_with:request.user }} %</span> musical match</span></li>
        {% endif %}
    </ul>

</div>
 <div class="clear"></div>
 </div> </div>
<ul id="tab_artist" class="tab_artist fake_tabs">
    <li class="tab first {% if tab == 'activities' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'activities' %}">
        {% trans "activities" %}
        </a>
    </li>
    <li class="tab {% if tab == 'playlists' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'playlists' %}">
        {% trans "playlists" %}
        </a>
    </li>
    <li class="tab {% if tab == 'artists' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'artists' %}">
        {% trans "artists" %}
        </a>
    </li>
    <li class="last tab {% if tab == 'recommendations' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'recommendations' %}">
        {% trans "favorite songs" %}
        </a>
    </li>
    <div class="clear"></div>
</ul>

 {% if user.playlistprofile.last_playlist %}

<div class="statut">
    <span class="mood">Last mood:</span><a class="bold" href="{{ user.playlistprofile.last_playlist.get_absolute_url }}" title="{% trans "details of" %} {{ user.playlistprofile.last_playlist }}">{{ user.playlistprofile.last_playlist }}</a>
</div>
{% endif %}

{% if request.user.is_authenticated and request.user != user and tab == 'activities' %}
<div class="wall">
{% render_comment_form for user %}
</div>
<div class="clear espacetop"></div>
{% endif %}

{% if tab == 'activities' %}
<h2>recent activities</h2>
<div class="list">
    {% include 'auth/user_activities.html' %}  
</div>
{% endif %}

{% if tab == 'playlists' %}
<h2>my playlists</h2>
    {% autopaginate playlists %}
    {% paginate %}
    {% render_playlists playlists %}
    {% paginate %}
{% endif %}

{% if tab == 'follows' %}

<h2>Following</h2>
    {% autopaginate follows_qs %}
<div class="list">
    <div class="lineFeed" style="margin-top:-15px;"></div>
 
    {% for user in follows_qs %}
    <div class="lineFeed">
        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}">
                <img src="{{ user.playlistprofile.avatar_url }}" alt="{{ user.playlistprofile }}" class="avatar espace small"/>
            </a>
        </div>

        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}" class="bold">{{ user.playlistprofile }}</a>
        </div>
       
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
    {% paginate %}

{% endif %}

{% if tab == 'followers' %}
<h2>Followers</h2>
    
    {% autopaginate followers_qs %}
<div class="list">
    <div class="lineFeed" style="margin-top:-15px;"></div>
    {% for user in followers_qs %}
    <div class="lineFeed">
        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}">
                <img src="{{ user.playlistprofile.avatar_url }}" alt="{{ user.playlistprofile }}" class="avatar espace small"/>
            </a>
        </div>

        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}" class="bold">{{ user.playlistprofile }}</a>
        </div>
       
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
    {% paginate %}
{% endif %}

{% if tab == 'artists' %}
<h2>my favorites artists</h2>
    {% render_artists user.playlistprofile.fanof_artists.all %}
{% endif %}

{% if tab == 'messages' %}
{% endif %}

{% if tab == 'recommendations' %}
    {% render_tracks user.playlistprofile.tiny_playlist.tracks.all '' request %}
{% endif %}

{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{% for object in user.playlist_set.all %}{{ object.tags }}{% if not forloop.last %},{% endif %}{% endfor %}" />
<meta name="description" content="{% trans "All free and legal playlists created by" %} {{ user }} {% trans "and how to create your own playlists" %}" />
{% endblock %}
