{% extends "site_base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load playlist_tags %}
{% load music_tags %}
{% load comments %}
{% load activity_tags %}

{% block head_title %}{% trans "playlists created by" %}: {{ user }}{% endblock %}

{# enable right column #}
{% block page_body_right_class %}block{% endblock %}
{% block body_right %}


<h3>Follower <a href="{% url user_details_tab user.username 'followers' %}" class="right">see all</a></h3>

<div class="friends" style="line-height:22px;">
    {% for user in followers %}
    <a href="{{ user.playlistprofile.get_absolute_url }}" class="tiptip" title="{{ user.playlistprofile }}"><img src="{{ user.playlistprofile.avatar_url }}" class="avatar left espace verysmall sc"></a>
    {% endfor %}
</div>

<div class="clear espacetop"></div>

<h3>Following 
    <a href="{% url user_details_tab user.username 'follows' %}" class="right">see all</a>
</h3>

<div class="friends" style="line-height:22px;">
    {% for user in follows %}
    <a href="{{ user.playlistprofile.get_absolute_url }}" class="tiptip" title="{{ user.playlistprofile }}"><img src="{{ user.playlistprofile.avatar_url }}" class="avatar left espace verysmall sc"></a>
    {% endfor %}
</div>

{% endblock %}


{% block body %}
   <div class="profile">
 <div class="right" style="margin-top:-5px;">
 {% ifequal request.user user %}{% else %}
    <div class="follow">
        <a href="{% url actstream_unfollow content_type_id=ctype.id  object_id=user.id %}" id="unfollow_button" style="display:none" class="button super green"><span class="follow">Following</span></a>
        <a href="{% url actstream_follow content_type_id=ctype.id  object_id=user.id %}" id="follow_button" class="button super grey"><span class="follow">Follow</span></a>
    </div>
{% endifequal %}

    <script>
    $(function () {
        $("#follow_button, #unfollow_button").click(function () {
            $.post($(this).attr("href"), {});
            $(this).parent().find("#follow_button, #unfollow_button").toggle();
            return false
        });
    });
    </script>

</div>
 
 <div class="profile-picture left">
 <img src="{{ user.playlistprofile.avatar_url }}" class="espace">
</div>

  <div class="profile-name">
    <h1>{{ user.first_name }} {{ user.last_name }} <span class="artist_rank">Rookie</span></h1> 

	<div class="profile-info">
	<ul>
	<li>
			<span class="location">Lives in {{ user.playlistprofile.user_location }}</span> 
            {% if facebookprofile %}
			
                <a href="{{ facebookprofile.url }}" class="facebook">{% if facebookprofile.nick %}{{ facebookprofile.nick }}{% else %}<span class="bold">Facebook</span>{% endif %}</a>
            {% endif %}
   
            {% if twitterprofile %}
	       
			<a href="{{ twitterprofile.url }}" class="twitter">{% if twitterprofile.nick %}{{ twitterprofile.nick }}{% else %}<span class="bold">Twitter</span>{% endif %}</a>
            {% endif %}

            {% if gfcprofile.url %}
			
			<a href="{{ gfcprofile.url }}" class="gfc ui_ignore" target="_blank">{% if gfcprofile.nick %}{{ gfcprofile.nick }}{% else %}<span class="bold">Google</span>{% endif %}</a>
            {% endif %}
        </li>
        {% if request.user.is_authenticated %}
        <li><span class="fan">Affinities: {{ user|affinities_with:request.user }} %</span></li>
        {% endif %}
    </ul>

</div>
 <div class="clear"></div>
 
 {% if user.playlistprofile.last_playlist %}
 <div class="framktop"></div>
<div class="ad">
    <span class="statut">Last mood:</span>
    <a class="bold" href="{{ user.playlistprofile.last_playlist.get_absolute_url }}" title="{% trans "details of" %} {{ user.playlistprofile.last_playlist }}">{{ user.playlistprofile.last_playlist }}</a>
</div>
{% endif %}

<ul id="tab_artist" class="tab_artist fake_tabs">
    <li class="tab first {% if tab == 'activities' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'activities' %}">
        {% trans "activities" %}
        </a>
    </li>
    <li class="tab {% if tab == 'playlists' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'playlists' %}">
        {% trans "playlists" %}
        </a>
    </li>
    <li class="tab {% if tab == 'artists' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'artists' %}">
        {% trans "artists" %}
        </a>
    </li>
    <li class="last tab {% if tab == 'recommendations' %}selected{% endif %}">
        <a class="" href="{% url user_details_tab user.username 'recommendations' %}">
        {% trans "recommended songs" %}
        </a>
    </li>
    <div class="clear"></div>
</ul>
<div class="clear"></div>

{% if tab == 'activities' %}
<h2>recent activities</h2>
<div class="list">

    {% for activity in activities %}
        {% display_action activity %}
    {% endfor %}
    
    <script type="text/javascript">
    $('.comment_form_toggle').click(function(e) {
        e.preventDefault();
        $(this).parent().find('.comment_form_contents').toggle('slow');
    });
    </script>

</div>
{% endif %}

{% if tab == 'playlists' %}
<h2>my playlists</h2>
    {% autopaginate playlists %}
    {% paginate %}
    {% render_playlists playlists %}
{% endif %}

{% if tab == 'follows' %}

<h2>Following</h2>
    {% autopaginate follows_qs %}
<div class="list">
    <div class="lineFeed" style="margin-top:-15px;"></div>
 
    {% for user in follows_qs %}
    <div class="lineFeed">
        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}">
                <img src="{{ user.playlistprofile.avatar_url }}" alt="{{ user.playlistprofile }}" class="avatar espace small"/>
            </a>
        </div>

        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}" class="bold">{{ user.playlistprofile }}</a>
        </div>
       
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
    {% paginate %}

{% endif %}

{% if tab == 'followers' %}
<h2>Followers</h2>
    
    {% autopaginate followers_qs %}
<div class="list">
    <div class="lineFeed" style="margin-top:-15px;"></div>
    {% for user in followers_qs %}
    <div class="lineFeed">
        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}">
                <img src="{{ user.playlistprofile.avatar_url }}" alt="{{ user.playlistprofile }}" class="avatar espace small"/>
            </a>
        </div>

        <div class="left">
            <a href="{{ user.playlistprofile.get_absolute_url }}" title="{{ user.playlistprofile }}" class="bold">{{ user.playlistprofile }}</a>
        </div>
       
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
    {% paginate %}
{% endif %}

{% if tab == 'artists' %}
<h2>my favorites artists</h2>
    {% render_artists user.playlistprofile.fanof_artists.all %}
{% endif %}

{% if tab == 'messages' %}
{% endif %}

{% if tab == 'recommendations' %}
{% endif %}

{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{% for object in user.playlist_set.all %}{{ object.tags }}{% if not forloop.last %},{% endif %}{% endfor %}" />
<meta name="description" content="{% trans "All free and legal playlists created by" %} {{ user }} {% trans "and how to create your own playlists" %}" />
{% endblock %}
