<ul class="signin">
    <li style="width:30%;float:left;" class="{% if step == 'signup' %}selected{% endif %}">
        <div class="connect">Connect your account</div>
        <div class="connect_text">Use one of your network to create your account in one-clik.</div>
    </li>
    <li style="width:30%;float:left;" class="{% if step == 'userdata' %}selected{% endif %}">
        <div class="fill_form">Complete your registration</div>
        <div class="connect_text">Verify and fill the form to complete your registration and create your account.</div>
    </li>
    <li style="width:30%;float:left;" class="{% if step == 'friends' %}selected{% endif %}">
        <div class="find_friends">Find friends</div>
        <div class="connect_text">Playlistnow is more fun when you follow your friends.</div>
    </li>
</ul>
