{% load socialregistration_tags %}
{% comment %}
<fb:login-button autologoutlink="true" perms="email,user_birthday,status_update,publish_stream"></fb:login-button>
{% endcomment %}

<form class="ui_ignore connect-button" name="login" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}" id="facebookform">
{% social_csrf_token %}
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
    <a onclick="facebookConnect(getElementById('facebookform'));return false;" class="super button fbblue large ui_ignore">
        <span class="facebook bold">Connect with facebook</span>
    </a>

</form>
