{% extends 'site_base.html' %}
{% load uni_form_tags %}
{% load i18n %}

{% block head_title %}{% trans "Complete your registration" %}{% endblock %}

{% block body %}

{% include 'socialregistration/_steps.html' %}

<form action="{% url socialregistration_userdata %}" method="post" class="uniForm ui_ignore">
    {{ form.non_field_errors|as_uni_errors }}
    {% csrf_token %}
    {{ form|as_uni_form }}
    <div class="buttonHolder"><button class="primaryAction" type="submit" class="button blue">{% trans "Complete my registration" %}</button></div>
</form>
{% endblock %}
