{% extends "site_base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load playlist_tags %}

{% block head_title %}{% trans "playlists tagged" %}: {{ object }}{% endblock %}

{% block body %}
    <h1>{% trans "playlists tagged" %} {{ object }} ({{ object_list.count }})</h1>
    
    {% autopaginate object_list %}
    {% paginate %}
    {% render_playlists object_list %}
    {% paginate %}

{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{% for object in object_list %}{{ object.tags }}{% if not forloop.last %},{% endif %}{% endfor %}" />
<meta name="description" content="{% trans "All free and legal playlists tagged" %} {{ object.name }} {% trans "and how to create your own playlists" %}" />
{% endblock %}
